{% extends 'base.html' %}

{% load static %}
{% block voz %}
<script src="https://code.responsivevoice.org/responsivevoice.js?key=Uv0LE8N2"></script>
{% endblock voz %}
{% block context %}
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12" id="div0">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" id="div1">
                {% if tipo %}
                <iframe class="d-block w-100" id="videoFrame" src="{{ link }}" frameborder="0"
                    allow="accelerometer; mute; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>

                {% else %}
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in image_response %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="data:image/png;base64,{{ image }}" class="d-block w-100" alt="...">
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true" hidden></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true" hidden></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" id="div2">
                <table id="record-table" class="table table-striped table-fixed-height" onchange="audio();">
                    <thead class="table-dark">
                        <tr>
                            <th>
                                <h1 class="mt-2 text-center fw-bold">TICKET</h1>
                            </th>
                            <th>
                                <h1 class="mt-2 text-center fw-bold">VENTANILLA</h1>
                            </th>
                            <th>
                                <h1 class="mt-2 text-center fw-bold">AREA</h1>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in records|slice:":6" %}
                        <tr>
                            <td class="text-center">
                                <h1 class="display-4 mt-3 mb-3 fw-bold">{{ record.codigoCaso }}</h1>
                            </td>
                            <td class="text-center">
                                <h1 class="display-4 mt-3 mb-3 fw-bold">&nbsp&nbsp{{ record.numeroVentanilla }}&nbsp&nbsp</h1>
                            </td>
                            <td class="text-center uppercase-column">
                                <h1 class="display-4 mt-3 mb-3 fw-bold">{{ record.departamento }}</h1>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<style>
    body {
        overflow-y: hidden;
        overflow-x: hidden;
    }
</style>
<script>
    var playlist  = new Array();
    var posicionActual = 0;
    responsiveVoice.setDefaultVoice("Spanish Female");
    responsiveVoice.speak('Bienvenidos');

    function isFullscreen() {
        return (window.innerHeight === screen.height && window.innerWidth === screen.width);
    }
    
    function applyFullscreenStyles() {
        if (isFullscreen()) {
            document.documentElement.classList.add("fullscreen");
        } else {
            document.documentElement.classList.remove("fullscreen");
        }
    }
    window.addEventListener("resize", applyFullscreenStyles);
    window.addEventListener("fullscreenchange", applyFullscreenStyles);
    
    applyFullscreenStyles();

    const recordTable = document.getElementById('record-table');

    function fetchRecords() {
        fetch(window.location.href, { headers: { 'X-Requested-With': 'XMLHttpRequest' } })
            .then(response => response.text())
            .then(data => {
                const parser = new DOMParser();
                const newTable = parser.parseFromString(data, 'text/html').getElementById('record-table');
                recordTable.innerHTML = newTable.innerHTML;
                listareproduccion();
            });
    }

    function listareproduccion() {
        var url = "/reproductor/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                if (data.list.length !== 0){
                    if (data.list.length > 1){
                        for (let i = 0; i < data.list.length; i++) {
                            playlist.push(data.list[i]);
                            console.log("dato entrante:"+data.list[i])
                        }
                    }else{
                        playlist.push(data.list[0]);
                        console.log('datos repetido');
                    }

                    if(responsiveVoice.isPlaying()) {
                        console.log("Reproduciendo")
                    }
                    else{
                        reproducirLista();
                    }
                }
            }
        };
        request.send();
    }
    
    function reproducirLista() {
        var textoActual = ""
        if (playlist.length === 0) {
            playlist = [];
            console.log("Lista eliminada.")
            return;
        }
        
        textoActual = playlist[0];
        playlist.shift();
        responsiveVoice.speak(textoActual, 'Spanish Female', {
            onend: function() {
                reproducirLista();
            }
        });
    }

    setInterval(fetchRecords, 1000);
</script>
{% endblock %}

{% block footer %}

{% include 'componentes/footer.html' %}

{% endblock footer %}