{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-12 col-lg-12 col-md-12 col-sm-12 mx-auto mb-4">
        <div class="card border-0 cardCol rounded-3 my-5 mx-auto">
            <div class="card-body pt-5 pl-8 pr-8">
                <h1 class="card-title text-center mb-3 titulo" >TU OPINIÓN NOS AYUDA A MEJORAR</h1>
                <h4 id="txtPregunta" class="card-title text-center mb-4" style="color: #878787; font-weight: bold;" hidden>¿Qué tan satisfecho estás con el servicio brindado?</h4>
                <main class="form-signin">
                    <div class="row d-flex justify-content-center">
                        <div class=" mb-4 mt-3 rounded"
                            style="display: flex; align-items: center; justify-content: center; border-color: white;">
                            <div class="form-floating mb-3 mt-3" style="text-align: center;">
                                <h1 id="txtCodigo" class="codigo" hidden>N/C</h1>
                                <h1 id="txtGracias" class="gracias">GRACIAS POR TU VISITA</h1>
                                <h3 id="txtGracias2" class="gracias2">Es un gusto ayudarte a construir tus sueños</h3>
                            </div>
                        </div>
                    </div>
                    <div id="divCaras" class="row d-flex justify-content-center">
                        <div id="img1"  class="col text-center pulse-animation hide-elements">
                          <a onclick="metricas('Satisfecho');"><img src="{% static 'img/happy.png' %}" width="120px" height="120px"></a>
                          <span class="image-text">Satisfecho</span>
                        </div>
                        <div id="img2" class="col text-center pulse-animation hide-elements">
                          <a onclick="metricas('Neutral');"><img src="{% static 'img/upset.png' %}" width="120px" height="120px"></a>
                          <span class="image-text">Neutral</span>
                        </div>
                        <div id="img3" class="col text-center pulse-animation hide-elements">
                          <a data-bs-toggle="modal" data-bs-target="#modal_insatisfecho"><img src="{% static 'img/depressed.png' %}" width="120px" height="120px"></a>
                          <span class="image-text">Insatisfecho</span>
                        </div>
                    </div>
                    <div class="row mt-5" style="justify-content: center;">
                        <img src="{% static 'img/uia_logo.png' %}" onclick="toggleFullScreen()" alt="" style="width: 130px; height: 60px;">
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Model de Cambio de data -->
{% block modal_insatisfecho %}
<div class="modal fade" id="modal_insatisfecho" tabindex="-1" aria-labelledby="modal_insatisfechoTitle" style="display: none"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <main class="form-signin">
                    <div class="row">
                        <div class="form-floating" style="margin-bottom: 1px;">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <h2 class="modal-title" style="text-align: center; font-weight: 900; color: #000000;" id="modal_tramitesTitle">DETALLE DE ENCUESTA</h2>
                            <p style="text-align: center; font-size: 20px; color: #878787; font-weight: bold;">Seleccioná motivo de tu insatisfacción.</p>
                        </div>
                    </div>
                    <div class="row mb-3" style="align-items: center; justify-content: center;">
                        <select ontouchstart="" onchange="obtenerValorSelect();" id="tramites_select" class="form-select form-select-lg mb-3 mt-3 roundedInput" name="tramites_select" >
                            <option selected disabled>Abrir para seleccionar.</option>
                            <option value="Tiempo de atención muy prolongado.">Tiempo de atención muy prolongado.</option>
                            <option value="Servicio con poca empatía y amabilidad.">Servicio con poca empatía y amabilidad.</option>
                            <option value="La información no fue clara por desconocimiento del asesor.">La información no fue clara por desconocimiento del asesor.</option>
                            <option value="En el servicio no se me brindaron más opciones de resolución">En el servicio no se me brindaron más opciones de resolución para mi necesidad.</option>
                        </select>
                    </div>
                    <div class="row mt-2" style="justify-content: center;">
                        <img src="{% static 'img/uia_logo.png' %}" alt="" style="width: 130px; height: 70px;">
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
{% endblock modal_insatisfecho %}

<style>
    @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
    }

    .roundedInput {
        border-radius: 50px;
        text-align: justify;
        font-size: 25px;
        padding: 10px;
        padding-left: 30px;
        font-family: 'Abrade';
        font-weight: 600;
        width: 70%;
    }

    .roundedInput:focus{
        outline: 1px solid #ffd142;
        border-color: #ffd142;
        box-shadow: 0 0 1px #ffd142;
    }
      
    .pulse-animation {
        animation: pulse 3s infinite;
    }

    .hide-elements {
        display: none;
      }

    a{
        cursor: pointer;
        animation-duration: 500ms;
    }
    .modal-dialog.custom-modal-xl {
        max-width: 95%; /* Puedes ajustar el porcentaje según tus necesidades */
    }
    .image-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600; 
        font-size: 25px;
        color: #000000;
    }

    .titulo{
        font-weight: 900; 
        font-size: 35px;
        color: #000000;
    }

    .codigo{
        font-weight: 600; 
        font-size: 95px;
        color: #000000;
    }

    .gracias{
        font-weight: 500; 
        font-size: 50px;
        color: #000000;
    }
    .gracias2{
        font-weight: 400; 
        font-size: 30px;
        color: #000000;
    }

    body{
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .card-body{
        padding-left: 5rem;
        padding-right: 5rem;
    }
    body{
        background-image: url('{% static "img/Fondo2.png" %}');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    .btn:focus,
    .btn:active,
    .navbar-brand:focus,
    .navbar-brand:active {
        outline: none !important;
        box-shadow: none !important;
    }
    
</style>

<script>

    const txtPregunta = document.getElementById('txtPregunta');
    const txtCodigo = document.getElementById('txtCodigo');
    const txtGracias = document.getElementById('txtGracias');
    const txtGracias2 = document.getElementById('txtGracias2');
    var divImg1 = document.getElementById('img1');
    var divImg2 = document.getElementById('img2');
    var divImg3 = document.getElementById('img3');

    function fetchRecords() {
        var url = "/ticket-encuesta/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var response = JSON.parse(request.responseText);
                if (response.codigo != 'N/C'){
                    txtCodigo.hidden = false;
                    txtCodigo.textContent = response.codigo;
                    encuesta();
                }
                else if (txtCodigo.textContent == 'N/C' && response.codigo == 'N/C'){
                    nocliente();
                    noencuesta();
                }else if (txtCodigo.textContent != 'N/C' && response.codigo == 'N/C'){
                    txtCodigo.hidden = false;
                    encuesta();
                }
            }
        };
        request.send();
    }

    setInterval(fetchRecords, 1000);

    function nocliente(){
        txtCodigo.hidden = true;
        txtPregunta.hidden = true;
    }

    function noencuesta(){
        divImg1.style.display = 'none';
        divImg2.style.display = 'none';
        divImg3.style.display = 'none';
        txtPregunta.hidden = true;
        txtGracias.hidden = false;
        txtGracias2.hidden = false;
    }

    function encuesta(){
        divImg1.style.display = 'block';
        divImg2.style.display = 'block';
        divImg3.style.display = 'block';
        txtPregunta.hidden = false;
        txtGracias.hidden = true;
        txtGracias2.hidden = true;
    }

    function obtenerValorSelect(){
        var tramites_select = document.getElementById('tramites_select');
        metricas(tramites_select.value);
        $('#modal_insatisfecho').modal('hide');
        tramites_select.selectedIndex = 0;
    }

    function metricas(metrica) {
        var url = "/metricas/?estado=";
        var codigo = txtCodigo.textContent;
        var cod = "&codigo=" + encodeURIComponent(codigo);
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(metrica) + cod, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                txtCodigo.textContent = "N/C";
                nocliente();
                noencuesta();
            }
        };
        request.send();
    }
</script>
{% endblock %}
