html,
body {
    margin: 0;
    padding: 0;
}

.context{
    width: 100%;
}

#div1 {
    width: 51%;
    padding: 0;
}

#div2 {
    width: 49%;
}

#videoFrame{
    width: 100%;
    height: 736px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
}
.dataTable {
    border-collapse: collapse !important;
    border: none !important;
}
footer{
    background-color: #000000;
}
.uppercase-column {
    text-transform: uppercase;
}

@keyframes moveRightToLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

#movingH1 {
    animation: moveRightToLeft 25s linear infinite;
    color: #ffffff;
    font-family: 'Abrade';
    font-weight: 500;
}

.fullscreen {
    #div1 {
        width: 50.4%;
    }
    #div2 {
        width: 49%;
    }
    #videoFrame{
        width: 100%;
        height: 800px;
    }
    .footer {
        height: 9%;
    }
}

.coloreable {
    background-color: rgb(0, 79, 80);
}

.input-group-append {
    cursor: pointer;
}

.cardCol {
    width: 100%;
    box-shadow: -1px 15px 30px -10px black;
    background-color: #f3f4f5;
}
  
.dataTables_length {
    margin-bottom: 10px;
}