{% extends 'base.html' %}
{% block nav_header %}

{% endblock %}
{% block content %}
<div class="p-2">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto ">
            <h5 id="id_agente" style="display: none;">{{ agente }}</h5>
            <h5 id="notificacion" style="display: none;">{{ departamento.notiDepartamento }}</h5>
            <main class="form-signin ">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-2">
                        <div class="">
                            <div class="" style="align-items: center;">
                                <h4 class="fw-light fw-bold" style="text-align: center;">VENTANILLA {{ ventanilla }}</h4>
                                <h5 class="fw-light fw-bold">Estado:&nbsp;&nbsp;</h5>
                                <select style="width: 135px; height: 35px;"
                                    class="roundedInput form-select form-select-sm" aria-label=".form-select-sm example"
                                    id="status_select" name="status_select" onchange="estados()">
                                    <option value="Activo" selected>Activo</option>
                                    <option value="Disponible">Disponible</option>
                                    <option value="Ocupado" disabled>Ocupado</option>
                                    <option value="Inactivo">Inactivo</option>
                                    <option value="Desconectado">Desconectado</option>
                                </select>
                            </div>
                        </div>
                        {% if departamento.tramitesDepartamento %}
                        <div class="mt-2">
                            <div class="" style="align-items: center;">
                                <h5 class="fw-light fw-bold">Cola:&nbsp;&nbsp;</h5>
                                <button class="btnStyle btn btn-md btn-login  mb-2 d-flex" type="button" id="btnAsignar"
                                    data-bs-toggle="modal" data-bs-target="#modal_colas">Asignar</button>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-6 mb-4 mt-3 border border-dark rounded"
                        style="display: flex; align-items: center; justify-content: center; border-color: black;">
                        <div class="form-floating mb-3 mt-3">
                            <h1 id="txtNumero" class="display-3">N/C</h1>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                        <div class="d-flex justify-content-center flex-wrap mx-auto ">
                            <div class="d-flex justify-content-between mx-auto">
                                <button class="btnStyle btn btn-md btn-login mb-2" type="button"
                                id="btnSiguiente" onclick="numeroSiguiente()" style="display: none;">Siguiente</button>
                                <button class="btnStyle btn btn-md btn-login mb-2" style="display: none;" type="button" id="btnTerminar" onclick="terminar()">Terminar</button>
                                <button class="btnStyle btn btn-md btn-login mb-2" style="display: none;" type="button" id="btnTerminarVarios" onclick="terminar_varios()">Terminar Varios</button>
                            </div>
                            <div class="row d-flex justify-content-center mx-auto">
                                <button id="btnTransferir" type="button" class="btnStyle btn btn-md mb-2" style="display: none;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Transferir</button>
                            </div>
                        </div>
                        <div class="justify-content-center flex-wrap mx-auto " id="divCliente" style="display: none;">
                            <div class="d-flex justify-content-center">
                                <button class="btnStyle btn btn-md btn-login mb-2" type="button"
                                    id="btnPresente" onclick="nopresente()">No Presente</button>
                                <button id="btnLlamar" type="button" class="btnStyle btn btn-md mb-2"
                                type="button" onclick="llamar()">Llamar</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% if departamento.citasDepartamento %}
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                        <hr>
                        <div class="d-flex justify-content-center flex-wrap mx-auto ">
                            <div class="col-md-6 justify-content-center">
                                <button id="btnCrearCita" type="button" class="btnStyle btn btn-md btn-login mb-2 mr-2" type="button" data-bs-toggle="offcanvas" 
                                data-bs-target="#offcanvasExample2" aria-controls="offcanvasExample2" onclick="citasvista('crear')">Crear Cita</button>
                            </div>
                                <button class="btnStyle btn btn-md btn-login mb-2" type="button" id="btnVerCita" data-bs-toggle="offcanvas" 
                                data-bs-target="#offcanvasExample2" aria-controls="offcanvasExample2" onclick="citasvista('ver')">Ver Citas</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                        <div class="d-flex justify-content-center flex-wrap mx-auto ">
                            <a class="btnStyle3 btn btn-md btn-login fw-bold" type="button" id="btnSalir"
                                href="{% url 'registro_agente' %}" onclick="initializeWebChannel();">Salir <span id="contador" style="display: none;"></span></a>
                        </div>
                    </div>
                </div>
                {% if departamento.tramitesDepartamento %}
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                        <div class="d-flex justify-content-center flex-wrap mx-auto ">
                            <table id="record-table" class="table table-striped-columns">
                                <thead>
                                    <tr>
                                        <th>Trámite</th>
                                        <th>Cant</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in tickets.items %}
                                    <tr>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                        <div class="d-flex justify-content-center flex-wrap mx-auto ">
                            <table id="record-table" class="table table-striped-columns">
                                <thead>
                                    <tr>
                                        <th>Depart</th>
                                        <th>Cant</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}
            </main>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu Transferencia</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Seleccione el area al que desea transferir.
      </div>
      <div class="dropdown mt-3">
        {% for depart in tranferDepartamentos %}
            {% if depart.tramitesDepartamento %}
                <button class="btn btn-dark dropdown-toggle mb-3" type="button" data-bs-toggle="dropdown">
                {{ depart.nombre }} </button>
                <ul class="dropdown-menu">
                {% for tranfer in tranferTramites %}
                {% if tranfer.departamento == depart %}
                    <li><a class="dropdown-item" style="cursor: pointer;"
                        onclick="transferencia('{{ depart.nombre }}/{{ tranfer.nombre }}')">{{ tranfer.nombre }}</a></li>
                {% endif %}
                {% endfor %}
                </ul>
            {% else %}
                <button class="btn btn-dark mb-3" type="button" style="cursor: pointer;"
                onclick="transferencia('{{ depart.nombre }}')">{{ depart.nombre }}</button>
            {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample2" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h3 class="offcanvas-title fw-bold" id="offcanvasExampleLabel">Citas</h3>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div id="div_crearcita">
            <div class="row ">
                <p id="pAviso" style="display: none; color: #960000;">Exíste una cita en la misma fecha y hora.</p>
                <div class=" mb-3">
                    <label for="">Número Identificación</label>
                    <input type="text" class="roundedInput form-control" id="identificacion"
                        placeholder="Identificación" name="identificacion" onkeyup="datacedula()"
                        required>
                </div>
                <div class="mb-3 ">
                    <label for="">Nombre Completo del Cliente</label>
                    <input type="text" class="roundedInput form-control" id="nombre"
                        placeholder="Nombre Completo" name="nombre" oninput="convertirTitulo(this)"
                        required>
                </div>
                <div class="mb-3 ">
                    <label for="">Teléfono</label>
                    <input type="text" class="roundedInput form-control" id="telefono"
                        placeholder="Teléfono" name="telefono" required>
                </div>
                <div class="mb-3 ">
                    <label for="">Fecha de Cita</label>
                    <input type="date" class="roundedInput form-control" id="fecha" name="fecha"
                        required>
                </div>
                <div class="mb-3 ">
                    <label for="">Hora de Cita</label>
                    <input type="time" class="roundedInput form-control" id="hora" name="hora" required>
                </div>
            </div>
            <br>
            <div class="d-grid mb-2">
                <button type="submit" class="btnStyle w-100 btn btn-lg btn-primary btn-login fw-bold"
                    id="btnModalDepartamento" onclick="crearcita()"> Registrar Cita</button>

                <div id="loading-indicator" class="hidden">
                    <div class="spinner"></div>
                </div>
            </div>
        </div>
        <div id="div_vercita">
            <div class="row ">
                <h4>Citas del Dia</h4>
                <table id="record-table-citas" class="table table-striped-columns">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cita in citas %}
                        {% if cita.fecha == fecha %}
                        <tr>
                            <td><p>{{ cita.nombreCliente }}</p></td>
                            <td><p>{{ cita.hora }}</p></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row ">
                <h4>Citas Generales</h4>
                <table id="record-table-generales" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cita in citas %}
                        <tr>
                            <td>
                                <p id="tId" hidden>{{ cita.id_citas }}</p>
                                <p id="tNombre" >{{ cita.nombreCliente }}</p>
                            </td>
                            <td><p id="tFecha" >{{ cita.fecha }}</p></td>
                            <td><p id="tHora" >{{ cita.hora }}</p></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>

{% block modal_colas%}
<div class="modal fade" id="modal_colas" tabindex="-1" aria-labelledby="modal_colasTitle" style="display: none"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title titulo" id="exampleModalCenterTitle">Colas de Atencion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="checkboxContainer" class="modal-body">
                <div class="row">
                    {% for tramite in tramites %}
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" id="input_{{ forloop.counter }}" type="checkbox"
                            value="{{ tramite.nombre }}">
                        <label class="form-check-label" for="input_{{ forloop.counter }}">{{ tramite.nombre }}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="cola()" data-bs-dismiss="modal" class="btnStyle btn">Guardar
                    Cambios</button>
            </div>
        </div>
    </div>
</div>
{% endblock modal_colas %}

{% block modal_citas %}
<div class="modal fade" id="modal_citas" tabindex="-1" aria-labelledby="modal_citasTitle"
    style="display: none" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitulo">
                    GESTOR DE CITA
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><span class="bi bi-x-lg" style="color: white;"></span></span>
                </button>
            </div>
            <div class="modal-body">
                <main class="form-signin">
                    <div class="row mb-3" style="align-items: center; justify-content: center;">
                        <div class="row ">
                            <div class=" mb-3">
                                <input type="text" class="roundedInput form-control" id="idCita"
                                    name="idCita" style="display: none;">
                                <label for="">Nombre del Asesor:</label>
                                <input type="text" class="roundedInput form-control" id="cAsesor"
                                        placeholder="Nombre" name="cAsesor" readonly>
                            </div>
                            <div class="mb-3 ">
                                <label for="">Fecha de Cita:</label>
                                <input type="date" class="roundedInput form-control" id="cfecha" name="cfecha"
                                    required>
                            </div>
                            <div class="mb-3 ">
                                <label for="">Hora de Cita:</label>
                                <input type="time" class="roundedInput form-control" id="chora" name="chora" required>
                            </div>
                            <br>
                            <div class="d-flex justify-content-between mb-2">
                                <button type="button" class="btn btnStyle fw-bold"
                                    id="btnModalCita" onclick="modificarcita()">Modificar Cita</button>

                                <button type="button" class="btn btnStyle fw-bold"
                                    id="btnModalCita" onclick="eliminarcita()">Eliminar Cita</button>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
{% endblock modal_citas %}

{% block modal_alerta %}
  <!-- Modal -->
  <div class="modal fade" id="modal_alerta" tabindex="-1" aria-labelledby="modal_alertaLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modal_alertaLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
{% endblock modal_alerta %}

<style>
    .modal-header {
        background-color: #000000;
        color: white;
    }
    .dropdown-menu li {
        position: relative;
    }

    .dropdown-menu .dropdown-submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .dropdown-menu .dropdown-submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu>li:hover>.dropdown-submenu {
        display: block;
    }

    #checkboxContainer {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .roundedInput {
        border-radius: 40px;
        text-align: justify;
        font-size: 15px;
        font-family: 'Abrade';
        font-weight: 600;
    }

    .btnStyle {
        background-color: #000000;
        color: #ffffff;
        border-radius: 50px;
        border-color: #000000;
        font-size: 15px;
        margin-right: 7px;
        margin-left: 7px;
    }

    .btnStyle3 {
        background-color: #960000;
        color: white;
        border-radius: 50px;
        border-color: #960000;
        font-size: 15px;
    }

    .btnStyle:hover {
        background-color: #000000;
        color: #ffd142;
        border-color: #000000;
    }
</style>
<script>
    window.onload = function () {
        estados();
    };

    function crearcita() {
        var identificacion = document.getElementById("identificacion");
        var nombre = document.getElementById("nombre");
        var telefono = document.getElementById("telefono");
        var fecha = document.getElementById("fecha");
        var hora = document.getElementById("hora");
        var pAviso = document.getElementById("pAviso");
        var url = "/nueva-cita-agente/?identificacion=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(identificacion.value) + "&nombre=" + encodeURIComponent(nombre.value) + 
        "&telefono=" + encodeURIComponent(telefono.value) + "&fecha=" + encodeURIComponent(fecha.value) + "&hora=" + encodeURIComponent(hora.value), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                identificacion.value = "";
                nombre.value = "";
                telefono.value = "";
                fecha.value = "";
                hora.value = "";
                $('#offcanvasExample2').offcanvas('hide');
                pAviso.style.display = 'none';
            }
            else{
                pAviso.style.display = 'block';
                console.log('error');
            }
        };
        request.send();

    }

    function citasvista(tipo){
        var div_crearcita = document.getElementById("div_crearcita");
        var div_vercita = document.getElementById("div_vercita");

        if (tipo === "crear"){
            div_crearcita.style.display = 'block';
            div_vercita.style.display = 'none';
        }
        else if (tipo === 'ver'){
            div_vercita.style.display = 'block';
            div_crearcita.style.display = 'none';
        }
        actualizar_tabla_citas_actuales();
        actualizar_tabla_citas_dia();
    }

    function datacedula() {
        var input = document.getElementById("identificacion");
        var input2 = document.getElementById("nombre");

        if (input.value.length >= 10 && input.value.length <= 12) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var datos = this.responseText;
                    const datos_usuario = datos.split(",");

                    input2.value = datos_usuario[0].replace(/[\\\[\]"]/g, "").replace(/u00f1/g, 'ñ').replace(/u00D1/g, 'Ñ');
                    input2.readOnly = true;
                    convertirTitulo();

                } else if (this.status == 404) {
                    input2.value = "";
                    input2.readOnly = false;
                }
            };
            xhttp.open("GET", "/obtener-datos/?identificacion=" + encodeURIComponent(input.value), true);
            xhttp.send();

        } else {
            input2.value = "";
            input2.readOnly = false;
        }

        if (input.value.length === 9) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var datos = this.responseText;
                    const datos_usuario = datos.split(",");

                    input2.value = datos_usuario[0].replace(/[\\\[\]"]/g, "").replace(/u00f1/g, 'ñ').replace(/u00D1/g, 'Ñ');
                    input2.readOnly = true;
                    convertirTitulo();

                } else if (this.status == 404) {
                    input2.value = "";
                    input2.readOnly = false;
                }
            };
            xhttp.open("GET", "/obtener-datos/?identificacion=" + encodeURIComponent(input.value), true);
            xhttp.send();
        } else {
            input2.value = "";
            input2.readOnly = false;
        }
    }

    function convertirTitulo() {
        var input = document.getElementById("nombre");
        var palabras = input.value.toLowerCase().split(' ');

        for (var i = 0; i < palabras.length; i++) {
            palabras[i] = palabras[i].charAt(0).toUpperCase() + palabras[i].slice(1);
        }

        input.value = palabras.join(' ');
    }

    function cola() {
        var checkboxContainer = document.getElementById("checkboxContainer");
        var checkboxes = checkboxContainer.querySelectorAll('input[type="checkbox"]');
        var cola = "Departamento";
        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                cola = cola.concat(",", checkbox.value)
            }
        });

        var agente = document.getElementById("id_agente").textContent;
        var url = "/cambiar-cola/?agente=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(agente) + "&cola=" + encodeURIComponent(cola), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
            }
        };
        request.send();

    }

    function estados() {
        var estadoactual = document.getElementById("status_select").value;

        var numero = document.getElementById("txtNumero");
        var url = "/estados-reporte/?estado=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(estadoactual), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                estadosbtn();
            }
        };
        request.send();

    }

    function estadosbtn() {
        var select = document.getElementById("status_select");
        var estadoactual = document.getElementById("status_select").value;
        var boton = document.getElementById("btnSiguiente");
        var botonT = document.getElementById("btnTerminar");
        var botonTV = document.getElementById("btnTerminarVarios");
        var boton2 = document.getElementById("btnTransferir");
        var boton3 = document.getElementById("btnSalir");
        var numero = document.getElementById("txtNumero");
        var cola = document.getElementById("btnAsignar");
        var contador = document.getElementById("contador");

        if (estadoactual == 'Activo' || estadoactual == 'Inactivo') {
            detenerContador();
            select.disabled = false;
            boton.disabled = true;
            boton.style.display = 'none';
            botonT.disabled = true;
            botonT.style.display = 'none';
            botonTV.disabled = true;
            botonTV.style.display = 'none';
            boton2.disabled = true;
            boton2.style.display = 'none';
            boton3.classList.add("disabled");
            numero.innerHTML = 'N/C';
            contador.style.display = 'none';
            cola.disabled = false;
        }
        else if (estadoactual == 'Desconectado') {
            iniciarContador();
            select.disabled = false;
            boton.disabled = true;
            boton.style.display = 'none';
            botonT.disabled = true;
            botonT.style.display = 'none';
            botonTV.disabled = true;
            botonTV.style.display = 'none';
            boton2.disabled = true;
            boton2.style.display = 'none';
            boton3.classList.remove("disabled");
            numero.innerHTML = 'N/C';
            contador.style.display = 'block';
            cola.disabled = true;
        }
        else if (estadoactual == 'Disponible') {
            detenerContador();
            select.disabled = false;
            boton.disabled = false;
            boton.style.display = 'block';
            botonT.disabled = true;
            botonT.style.display = 'none';
            botonTV.disabled = true;
            botonTV.style.display = 'none';
            boton2.disabled = true;
            boton2.style.display = 'none';
            boton3.classList.add("disabled");
            numero.innerHTML = 'N/C';
            contador.style.display = 'none';
            cola.disabled = true;
        }
        else if (estadoactual == 'Ocupado') {
            detenerContador();
            select.disabled = true;
            boton.disabled = false;
            boton.style.display = 'none';
            botonT.disabled = false;
            botonT.style.display = 'block';
            botonTV.disabled = false;
            botonTV.style.display = 'block';
            boton2.disabled = false;
            boton2.style.display = 'block';
            boton3.classList.add("disabled");
            contador.style.display = 'none';
            cola.disabled = true;
        }
    }

    function numeroSiguiente() {
        var numero = document.getElementById("txtNumero");
        var cliente = document.getElementById("divCliente");
        var estadoactual = document.getElementById("status_select");
        if (estadoactual.value == "Disponible" || estadoactual.value == "Ocupado") {
            var url = "/numero-agente/";
            var request = new XMLHttpRequest();
            request.open('GET', url, true);
            request.onload = function () {
                if (request.status === 200) {
                    var data = JSON.parse(request.responseText);
                    for (var key in data) {
                        if (data.hasOwnProperty(key)) {
                            numero.innerHTML = data[key];
                            if (data[key] === "N/C") {
                                estadoactual.selectedIndex = 1;
                                estados();
                            }
                            else {
                                estadoactual.selectedIndex = 2;
                                cliente.style.display = 'block';
                                estados();
                            }
                        }
                    }

                }
            };
            request.send();
        }
    }

    function numeroCita() {
        var numero = document.getElementById("txtNumero");
        var cliente = document.getElementById("divCliente");
        var estadoactual = document.getElementById("status_select");
        var estadoactualvalue = document.getElementById("status_select").value;
        
        var url = "/numero-agente-cita/?estado=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(estadoactualvalue), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        numero.innerHTML = data[key];
                        estadoactual.selectedIndex = 2;
                        cliente.style.display = 'block';
                        estados();
                    }
                }

            }
        };
        request.send();
    }

    function siguienteNumero(){
        var estadoactual = document.getElementById("status_select");
        if (estadoactual.value == "Disponible" || estadoactual.value == "Ocupado") {
            var url = "/siguiente-ticket/";
            var request = new XMLHttpRequest();
            request.open('GET', url, true);
            request.onload = function () {
                if (request.status === 200) {
                    var data = JSON.parse(request.responseText);
                }
            };
            request.send();
        }
    }
    
    function terminar(){
        var cliente = document.getElementById("divCliente");
        var estadoactual = document.getElementById("status_select");
        var url = "/terminar-ticket/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                estadoactual.selectedIndex = 1;
                cliente.style.display = 'none';
                estados();
            }
        };
        request.send();
    }

    function terminar_varios(){
        var cliente = document.getElementById("divCliente");
        var estadoactual = document.getElementById("status_select");
        var url = "/terminar-ticket-varios/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                estadoactual.selectedIndex = 1;
                cliente.style.display = 'none';
                estados();
            }
        };
        request.send();
    }

    function nopresente(){
        var cliente = document.getElementById("divCliente");
        var estadoactual = document.getElementById("status_select");
        var url = "/no-presente/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                estadoactual.selectedIndex = 1;
                cliente.style.display = 'none';
                estados();
            }
        };
        request.send();
    }

    function llamar(){
        var txtNumero = document.getElementById("txtNumero").textContent;
        var url = "/llamar-ticket/?codigo=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(txtNumero), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
            }
        };
        request.send();
    }

    function transferencia(departamento) {
        var cliente = document.getElementById("divCliente");
        var estadoactual = document.getElementById("status_select");
        var numero = document.getElementById("txtNumero");
        var url = "/transferencia/?departamento=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(departamento), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                estadoactual.selectedIndex = 1;
                numero.innerHTML = "N/C";
                estados();
                cliente.style.display = 'none';
                $('#offcanvasExample').offcanvas('hide');
            }
        };
        request.send();
    }

    function initializeWebChannel() {
        if (typeof QWebChannel !== 'undefined') {
            new QWebChannel(qt.webChannelTransport, function (channel) {
                var resizeObj = channel.objects.resizeObj;
                if (resizeObj) {
                    resizeObj.restore_resize_window(500, 580);
                }
            });
        }
    }
    
    var tabla = document.getElementById("record-table");
    function actualizar_tabla() {
        var noti = document.getElementById('notificacion').textContent;
        var url = "/actualizar-tabla-departamentos/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
    
        request.onload = function () {
            if (request.status === 200) {
                var response = JSON.parse(request.responseText);
                var rowCount = tabla.rows.length;
                for (var i = rowCount - 1; i > 0; i--) {
                    tabla.deleteRow(i);
                }
                response.tabla.forEach(function (registro) {
                    var fila = tabla.insertRow();
                    fila.className = 'registro-tramite';
                    fila.setAttribute('data-nombre', registro.nombreDepartamento);

                    var depart = fila.insertCell();
                    depart.className = '';
                    var pDepart = document.createElement("p");
                    pDepart.textContent = registro.nombreDepartamento;
                    pDepart.className = '';
                    pDepart.style.fontSize = '';
                    depart.appendChild(pDepart);
    
                    var cant = fila.insertCell();
                    cant.className = '';
                    var pCant = document.createElement("p");
                    pCant.textContent = registro.cantidad;
                    pCant.className = '';
                    pCant.style.fontSize = '';
                    cant.appendChild(pCant);

                });
                if (response.cola) {
                    var colaNoAgente = []
                    response.cola.forEach(function (colaName) {
                        SinAgenteCola(colaName.nombreDepartamento);
                        colaNoAgente.push(colaName.nombreDepartamento);
                    });
                    notificacionColaAtencion(colaNoAgente);
                }
                if (noti === 'True'){
                    notificacion();
                }
            }else if (request.status === 202) {
                var response = JSON.parse(request.responseText);
                var rowCount = tabla.rows.length;
                for (var i = rowCount - 1; i > 0; i--) {
                    tabla.deleteRow(i);
                }
                response.tabla.forEach(function (registro) {
                    var fila = tabla.insertRow();

                    var depart = fila.insertCell();
                    depart.className = '';
                    var pDepart = document.createElement("p");
                    pDepart.textContent = registro.nombreDepartamento;
                    pDepart.className = '';
                    pDepart.style.fontSize = '';
                    depart.appendChild(pDepart);
    
                    var cant = fila.insertCell();
                    cant.className = '';
                    var pCant = document.createElement("p");
                    pCant.textContent = registro.cantidad;
                    pCant.className = '';
                    pCant.style.fontSize = '';
                    cant.appendChild(pCant);

                });
            }
            
        };
    
        request.send();
    }

    var tabla_generales = document.getElementById("record-table-generales");
    function actualizar_tabla_citas_actuales() {
        var url = "/actualizar-tabla-citas-actuales/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
    
        request.onload = function () {
            if (request.status === 200) {
                var response = JSON.parse(request.responseText);
                var rowCount = tabla_generales.rows.length;
                for (var i = rowCount - 1; i > 0; i--) {
                    tabla_generales.deleteRow(i);
                }
                response.tabla.forEach(function (registro) {
                    var fila = tabla_generales.insertRow();

                    var cliente = fila.insertCell();
                    cliente.className = 'table-hover';
                    var pCliente = document.createElement("p");
                    pCliente.textContent = registro.nombreCliente;
                    pCliente.className = '';
                    pCliente.style.fontSize = '';
                    cliente.appendChild(pCliente);
    
                    var fecha = fila.insertCell();
                    fecha.className = 'table-hover';
                    var pFecha = document.createElement("p");
                    pFecha.textContent = registro.fecha;
                    pFecha.className = '';
                    pFecha.style.fontSize = '';
                    fecha.appendChild(pFecha);

                    var hora = fila.insertCell();
                    hora.className = 'table-hover';
                    var pHora = document.createElement("p");
                    pHora.textContent = registro.hora;
                    pHora.className = '';
                    pHora.style.fontSize = '';
                    hora.appendChild(pHora);

                    fila.addEventListener("click", function () {
                        var id = document.getElementById('idCita');
                        var nombre = document.getElementById('cAsesor');
                        var fecha = document.getElementById('cfecha');
                        var hora = document.getElementById('chora');

                        id.value = registro.id_citas;
                        nombre.value = registro.nombreCliente;
                        fecha.value = registro.fecha;
                        hora.value = registro.hora;
                            
                        $("#modal_citas").modal("show");
                    });
                });
            }
            
        };
        request.send();
    }

    var tabla_citas = document.getElementById("record-table-citas");
    function actualizar_tabla_citas_dia() {
        var url = "/actualizar-tabla-citas/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
    
        request.onload = function () {
            if (request.status === 200) {
                var response = JSON.parse(request.responseText);
                var rowCount = tabla_citas.rows.length;
                for (var i = rowCount - 1; i > 0; i--) {
                    tabla_citas.deleteRow(i);
                }
                response.tabla.forEach(function (registro) {
                    var fila = tabla_citas.insertRow();

                    var cliente = fila.insertCell();
                    cliente.className = '';
                    var pCliente = document.createElement("p");
                    pCliente.textContent = registro.nombreCliente;
                    pCliente.className = '';
                    pCliente.style.fontSize = '';
                    cliente.appendChild(pCliente);

                    var hora = fila.insertCell();
                    hora.className = '';
                    var pHora = document.createElement("p");
                    pHora.textContent = registro.hora;
                    pHora.className = '';
                    pHora.style.fontSize = '';
                    hora.appendChild(pHora);

                });
            }
            
        };
    
        request.send();
    }

    setInterval(function() {
        numeroCita();
        actualizar_tabla();
    }, 1000);

    var offcanvasElement = document.getElementById('offcanvasExample2');
    offcanvasElement.addEventListener('hidden.bs.offcanvas', function () {
        var identificacion = document.getElementById("identificacion");
            var nombre = document.getElementById("nombre");
            var telefono = document.getElementById("telefono");
            var fecha = document.getElementById("fecha");
            var hora = document.getElementById("hora");
            var pAviso = document.getElementById("pAviso");

            identificacion.value = '';
            nombre.value = '';
            telefono.value = '';
            pAviso.style.display = 'none';
    });

    $(document).ready(function () {
        $('#record-table-generales').DataTable({
            select: true,
            searching: false,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "select": {
                    "rows": {
                        "_": "Seleccionado %d filas",
                        "0": "Haga clic en una fila para seleccionarla",
                        "1": "Seleccionado 1 fila"
                    }
                }
            }
        });
        document.getElementById('record-table-generales_length').style.display = 'none';
        document.getElementById('record-table-generales_info').style.display = 'none';
    });

    function modificarcita() {
        var id = document.getElementById("idCita");
        var fecha = document.getElementById("cfecha");
        var hora = document.getElementById("chora");
        var url = "/modificar-cita/?id=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(id.value) + "&fecha=" + encodeURIComponent(fecha.value) 
        + "&hora=" + encodeURIComponent(hora.value), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                id.value = "";
                fecha.value = "";
                hora.value = "";
                $('#offcanvasExample2').offcanvas('hide');
                $("#modal_citas").modal("hide");
            }
            else{
                pAviso.style.display = 'block';
                console.log('error');
            }
        };
        request.send();

    }

    function eliminarcita() {
        var id = document.getElementById("idCita");
        var url = "/eliminar-cita/?id=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(id.value), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                id.value = "";
                $('#offcanvasExample2').offcanvas('hide');
                $("#modal_citas").modal("hide");
            }
            else{
                pAviso.style.display = 'block';
                console.log('error');
            }
        };
        request.send();

    }

    function notificacion() {
        if (typeof QWebChannel !== 'undefined') {
            new QWebChannel(qt.webChannelTransport, function (channel) {
                var resizeObj = channel.objects.resizeObj;
                if (resizeObj) {
                    resizeObj.show_notification("Ha llegado un nuevo cliente.");
                }
            });
        }
    }

    function notificacionColaAtencion(cola) {
        if (typeof QWebChannel !== 'undefined') {
            new QWebChannel(qt.webChannelTransport, function (channel) {
                var resizeObj = channel.objects.resizeObj;
                if (resizeObj) {
                    resizeObj.show_notification("Ha llegado un nuevo cliente para trámite: \n"+cola+".\nNo hay agentes asignados para la atencion.");
                }
            });
        }
    }

    function SinAgenteCola(cola) {
        for (var j = 0; j < 20; j++) {
            setTimeout(function () {
                var filas = document.querySelectorAll(".registro-tramite");
                for (var i = 0; i < filas.length; i++) {
                    var fila = filas[i];
                    var nombreTramite = fila.getAttribute("data-nombre");
                    if (nombreTramite === cola) {
                        fila.style.backgroundColor = "#ffd142";
                    }
                }
            }, j * 1000);
        }
    }

    var interval;
    var i = 11;

    function iniciarContador() {
        
        interval = setInterval(function() {
            i = i - 1;
            document.getElementById('contador').innerText = i;
            if (i === 0) {
                document.getElementById('btnSalir').click();
                detenerContador();
            }
        }, 1000);
    }

    function detenerContador() {
        i = 11;
        clearInterval(interval);
    }
</script>
{% endblock %}