{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<div class="row mt-5">
    <div class="col-12 col-lg-12 col-md-12 col-sm-12 mx-auto mt-5 mb-5">
        <div class="card border-0 cardCol rounded-3 my-5 mx-auto">
            <div class="card-body pt-5 pl-8 pr-8">
                <h1 class="card-title text-center mb-5 fw-light fs-8 fw-bold">DEPARTAMENTOS DE ATENCIÓN</h1>
                <h3 class="card-title text-center mb-5 fw-light fs-3" style="color: #878787;">Seleccione el Departamento al que desea dirigirse</h3>
                <main class="form-signin">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <div>
                                    <button class="btnStyle w-100 btn btn-lg fw-bold pt-2 pb-2"
                                    type="button" id="loading-indicator" onclick="crear_ticket_admision()"><p style="font-size: 30px;" class="mt-3 mb-3">Admisiones</p></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <div>
                                    <button type="submit"
                                        class="btnStyle w-100 btn btn-lg fw-bold pt-2 pb-2"
                                        id="loading-indicator"  data-bs-toggle="modal"
                                        data-bs-target="#modal_registro"><p style="font-size: 30px;" class="mt-3 mb-3">Registro</p></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <div>
                                    <button class="btnStyle w-100 btn btn-lg fw-bold pt-2 pb-2" disabled
                                    type="button" id="loading-indicator" onclick="crear_ticket_cajas()"><p style="font-size: 30px;" class="mt-3 mb-3">Cajas</p></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <div>
                                    <button class="btnStyle w-100 btn btn-lg fw-bold pt-2 pb-2"
                                    type="button" id="loading-indicator" onclick="crear_ticket_cursolibre()"><p style="font-size: 30px;" class="mt-3 mb-3">Cursos Libres</p></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2" style="justify-content: center;">
                        <img src="{% static 'img/uia_logo.png' %}" alt="" style="width: 170px; height: 85px;">
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
</div>


<!-- Model de Cambio de data -->
{% block modal_registro%}
<div class="modal fade" id="modal_registro" tabindex="-1" aria-labelledby="modal_registroTitle" style="display: none"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header" style="justify-content: center;">
                <div class="form-floating">
                    <h1 class="modal-title" style="text-align: center;" id="modal_registroTitle">REGISTRO</h1>
                    <p style="font-size: 25px; color: #878787;">Seleccione el trámite que desea realizar</p>
                </div>
            </div>
            <div class="modal-body">
                <main class="form-signin">
                    <div class="row">
                        <div class="col mb-3">
                            <div class="form-floating">
                                <div>
                                    <button class="btnStyle w-100 btn btn-lg fw-bold pt-4 pb-4"
                                    type="button" id="loading-indicator" onclick="crear_ticket_registro()"><p style="font-size: 30px;" class="mt-3 mb-3">Registro</p></button>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="form-floating">
                                <div>
                                    <button type="submit"
                                        class="btnStyle w-100 btn btn-lg fw-bold pt-4 pb-4"
                                        type="button" id="loading-indicator" onclick="crear_ticket_registro_tesis()"><p style="font-size: 30px;" class="mt-3 mb-3">Tesis</p></button>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="form-floating">
                                <div>
                                    <button class="btnStyle w-100 btn btn-lg fw-bold"
                                    type="button" id="loading-indicator" onclick="crear_ticket_registro_retiros()"><p style="font-size: 30px;" class="mt-3 mb-3">Retiros y Congelamientos</p></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <div class="form-floating">
                                <div>
                                    <button class="btnStyle w-100 btn btn-lg fw-bold pt-4 pb-4"
                                    type="button" id="loading-indicator" onclick="crear_ticket_registro_suficiencia()"><p style="font-size: 30px;" class="mt-3 mb-3">Suficiencas</p></button>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="form-floating">
                                <div>
                                    <button class="btnStyle w-100 btn btn-lg fw-bold pt-4 pb-4"
                                    type="button" id="loading-indicator" onclick="crear_ticket_registro_convalidacion()"><p style="font-size: 30px;" class="mt-3 mb-3">Convalidaciones</p></button>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="form-floating">
                                <div>
                                    <button class="btnStyle w-100 btn btn-lg fw-bold pt-4 pb-4"
                                    type="button" id="loading-indicator" onclick="crear_ticket_registro_graduacion()"><p style="font-size: 30px;" class="mt-3 mb-3">Graduaciones</p></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2" style="justify-content: center;">
                        <img src="{% static 'img/uia_logo.png' %}" alt="" style="width: 170px; height: 85px;">
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
{% endblock modal_registro %}

<style>
    .card-body{
        padding-left: 5rem;
        padding-right: 5rem;
    }
    body{
        background-image: url('{% static "img/Fondo2.png" %}');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    .btnStyle {
        background-color: #1D1D1B;
        color: white;
        border-radius: 30px;
        border-color: #1D1D1B;
        font-size: 25px;
    }
    .btnStyle:hover {
        background-color: #1D1D1B;
        color: #ffd142;
        border-color: #1D1D1B;
    }
    .btn:focus,
    .btn:active,
    .navbar-brand:focus,
    .navbar-brand:active {
        outline: none !important;
        box-shadow: none !important;
    }
</style>

<script>
    function crear_ticket_admision() {
        var url = "/crear-ticket-admision/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                location.reload();
            }
        };
        request.send();
    }
    
    function crear_ticket_cajas() {
        var url = "/crear-ticket-cajas/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                location.reload();
            }
        };
        request.send();
    }
    
    function crear_ticket_cursolibre() {
        var url = "/crear-ticket-cursolibre/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                location.reload();s
            }
        };
        request.send();
    }
    
    function crear_ticket_registro() {
        var url = "/crear-ticket-registro/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                location.reload();
            }
        };
        request.send();
    }
    
    function crear_ticket_registro_tesis() {
        var url = "/crear-ticket-registro-tesis/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                location.reload();
            }
        };
        request.send();
    }
    
    function crear_ticket_registro_convalidacion() {
        var url = "/crear-ticket-registro-convalidacion/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                location.reload();
            }
        };
        request.send();
    }
    
    function crear_ticket_registro_retiros() {
        var url = "/crear-ticket-registro-retiros/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                location.reload();
            }
        };
        request.send();
    }
    
    function crear_ticket_registro_suficiencia() {
        var url = "/crear-ticket-registro-suficiencia/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                location.reload();
            }
        };
        request.send();
    }

    function crear_ticket_registro_graduacion() {
        var url = "/crear-ticket-registro-graduacion/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                location.reload();
            }
        };
        request.send();
    }
    
</script>
{% endblock %}