<nav class="navbar navbar-expand-lg navbar-dark pt-4 pb-3" style="background-color: #1d1d1b;">
    <div class="container-fluid">
        <a class="navbar-brand px-5">
            <img src="../../static/img/Imagen1.png" alt="" width="95" height="55" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin_side' %}" aria-current="page">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'colas_atencion' %}">COLAS DE ACCIÓN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'estados_agente' %}">ESTADOS DE AGENTES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'casos_agente' %}">CASOS DE AGENTES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tickets_agente' %}">TICKETS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="agentesDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" href="{% url 'datos_agente' %}">AGENTES</a>
                    <ul class="dropdown-menu" aria-labelledby="agentesDropdown">
                        <li><a class="dropdown-item" href="{% url 'datos_agente' %}">Ver Agentes</a></li>
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#modal_nuevoagente">Añadir Agentes</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'configuracion' %}">CONFIGURACIÓN DE VISUALIZADOR</a>
                </li>
            </ul>
            <form class="d-flex" style="padding-right: 30px;">
                <a class="btn" href="{% url 'logout' %}" type="button">CERRAR SESIÓN</a>
            </form>
        </div>
    </div>
</nav>
<style>
    .navbar-dark .navbar-nav .nav-link {
        color: rgb(255, 255, 255);
    }
    .btn{
        border-radius: 50px;
        background-color: #ffd142;
        color: #1d1d1b;
        font-weight: bold;
        border-color: #ffd142;
    }
    .btn:hover {
        background-color: #1d1d1b;
        color: #ffd142;
        border-color: #1d1d1b;
    }

    .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
        color: #ffd142;
    }

    .btn:focus,
    .btn:active,
    .navbar-brand:focus,
    .navbar-brand:active {
        outline: none !important;
        box-shadow: none !important;
    }

</style>
<script>
    const activeLink = localStorage.getItem('activeLink');
    if (activeLink) {
        const link = document.querySelector(`.navbar-nav .nav-link[href="${activeLink}"]`);
        if (link) {
            link.classList.add('active');
            link.parentNode.classList.add('active');
        }
    }
    const links = document.querySelectorAll('.navbar-nav .nav-link');
    links.forEach(link => {
        link.addEventListener('click', function(event) {
            links.forEach(link => {
                link.classList.remove('active');
                link.parentNode.classList.remove('active');
            });
            this.classList.add('active');
            this.parentNode.classList.add('active');
            localStorage.setItem('activeLink', this.getAttribute('href'));
        });
    });
</script>