{% extends 'base.html' %}

{% load static %}
{% block voz %}
<script src="https://code.responsivevoice.org/responsivevoice.js?key=Uv0LE8N2"></script>
{% endblock voz %}
{% block context %}
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12" id="div0">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" id="div1">
                {% if tipo %}
                <iframe class="d-block w-100" id="videoFrame" src="{{ link }}" frameborder="0"
                    allow="accelerometer; mute; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>

                {% else %}
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in image_response %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="data:image/png;base64,{{ image }}" class="d-block w-100" alt="...">
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true" hidden></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true" hidden></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" id="div2">
                <table id="record-table" class="table" onchange="audio();">
                    <thead>
                        <tr class="colorcolumna">
                            <th style="height: 0px; align-items: center;">
                                <h1 class="textC text-center fw-bold">TICKET</h1>
                            </th>
                            <th style="height: 0px; align-items: center;">
                                <h1 class="textC text-center fw-bold">VENTANILLA</h1>
                            </th>
                            <th style="height: 0px; align-items: center;">
                                <h1 class="textC text-center fw-bold">ÁREA</h1>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in records|slice:":6" %}
                        <tr class="colorfilas">
                            <td class="text-center">
                                {% if record.codigoCaso|length > 7 %}
                                <h1 class="mt-3 mb-3 fw-bold" style="font-size: 55px;">{{ record.codigoCaso }}</h1>
                                {% else %}
                                <h1 class="mt-3 mb-3 fw-bold" style="font-size: 55px;">{{ record.codigoCaso }}</h1>
                                {% endif %}
                                    
                            </td>
                            <td class="text-center">
                                <h1 class="mt-3 mb-3 fw-bold" style="font-size: 47;">&nbsp&nbsp{{ record.numeroVentanilla }}&nbsp&nbsp</h1>
                            </td>
                            <td class="text-center uppercase-column">
                                {% if record.codigoCaso|length > 3 %}
                                <h1 class="mt-3 mb-3 fw-bold" style="font-size: 47;">&nbsp{{ record.departamento }}&nbsp</h1>
                                {% else %}
                                <h1 class="mt-3 mb-3 fw-bold" style="font-size: 47;">&nbsp{{ record.departamento }}&nbsp</h1>
                                {% endif %}
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<style>
    body {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    #div2{
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 20px;
    }
    table {
        border-collapse: separate;
        width: 100%;
        border-spacing: 0 2px;
    }
    th{
        padding: 0px;
    }
    .colorfilas{
        background-color: white;
    }
    .colorcolumna{
        background-color: black;
        color: white;
    }
    .textC{
        padding: 0%;
        margin: 0%;
    }

    .highlight-row {
        background-color: #ffd142;
    }
</style>
<script>
    var playlist  = new Array();
    var posicionActual = 0;
    responsiveVoice.setDefaultVoice("Spanish Female");
    responsiveVoice.speak('Bienvenidos a la UIA');

    function isFullscreen() {
        return (window.innerHeight === screen.height && window.innerWidth === screen.width);
    }
    
    function applyFullscreenStyles() {
        if (isFullscreen()) {
            document.documentElement.classList.add("fullscreen");
        } else {
            document.documentElement.classList.remove("fullscreen");
        }
    }
    window.addEventListener("resize", applyFullscreenStyles);
    window.addEventListener("fullscreenchange", applyFullscreenStyles);
    
    applyFullscreenStyles();

    function listareproduccion() {
        var url = "/reproductor/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                if (data.list.length !== 0){
                    if (data.list.length >= 1){
                        for (let i = 0; i < data.list.length; i++) {
                            const datoEntrante = data.list[i];
                            if (!playlist.includes(datoEntrante)) {
                              playlist.push(datoEntrante);
                              console.log("dato entrante: " + datoEntrante);
                            }
                        }
                    }else {
                        playlist.push(data.list[0]);
                        console.log('datos repetido');
                    }

                    if(responsiveVoice.isPlaying()) {
                        console.log("Reproduciendo")
                    }
                    else{
                        reproducirLista();
                    }
                }
                var table = document.getElementById('record-table');
                var rows = table.getElementsByTagName('tr');
                for (var i = 0; i < rows.length; i++) {
                    rows[i].classList.remove('highlight-row');
                }
                rows[1].classList.add('highlight-row');
            }
        };
        request.send();
    }

    function reproductorcliente(){
        var url = "/reproductor-cliente/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                if (data.list.length !== 0 && data.estado === true){
                    if (data.list.length >= 1){
                        for (let i = 0; i < data.list.length; i++) {
                            const datoEntrante = data.list[i];
                            if (!playlist.includes(datoEntrante)) {
                              playlist.push(datoEntrante);
                              console.log("dato entrante: " + datoEntrante);
                            }
                        }
                    }else {
                        playlist.push(data.list[0]);
                        console.log('datos repetido');
                    }

                    if(responsiveVoice.isPlaying()) {
                        console.log("Reproduciendo")
                    }
                    else{
                        reproducirLista();
                    }
                }
            }
        };
        request.send();
    }

    var indiceActual = 0;
    function reproducirLista() {
        var textoActual = ""
        if (indiceActual >= playlist.length) {
            playlist = [];
            indiceActual = 0;
            console.log("Lista eliminada.");
            return;
        }
        
        var textoActual = playlist[indiceActual];
        responsiveVoice.speak(textoActual, 'Spanish Female', {
            onend: function() {
              indiceActual++;
              reproducirLista();
            }
        });
    }

    var tabla = document.getElementById("record-table");
    function actualizar_tabla() {
        var url = "/actualizar-tabla/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
    
        request.onload = function () {
            if (request.status === 200) {
                var response = JSON.parse(request.responseText);
                var rowCount = tabla.rows.length;
                for (var i = rowCount - 1; i > 0; i--) {
                    tabla.deleteRow(i);
                }
                response.tabla.forEach(function (registro) {
                    var fila = tabla.insertRow();
                    fila.className = 'colorfilas';
                    
                    var celdaCodigo = fila.insertCell();
                    celdaCodigo.className = 'text-center';
                    var h1Codigo = document.createElement("h1");
                    h1Codigo.textContent = registro.codigoCaso;
                    h1Codigo.className = 'mt-3 mb-3 fw-bold';
                    h1Codigo.style.fontSize = '45px';
                    celdaCodigo.appendChild(h1Codigo);
    
                    var celdaVentanilla = fila.insertCell();
                    celdaVentanilla.className = 'text-center';
                    var h1Ventanilla = document.createElement("h1");
                    h1Ventanilla.textContent = registro.numeroVentanilla;
                    h1Ventanilla.className = 'mt-3 mb-3 fw-bold';
                    h1Ventanilla.style.fontSize = '47px';
                    celdaVentanilla.appendChild(h1Ventanilla);

                    var celdaDepartamento = fila.insertCell();
                    celdaDepartamento.className = 'text-center';
                    var h1Departamento = document.createElement("h1");
                    h1Departamento.textContent = registro.departamento;
                    h1Departamento.className = 'mt-3 mb-3 fw-bold';
                    h1Departamento.style.fontSize = '47px';
                    celdaDepartamento.appendChild(h1Departamento);
                });
                listareproduccion();
                reproductorcliente();
            }
            else{
                listareproduccion();
                reproductorcliente();
            }
            
        };
    
        request.send();
    }

    function citas_act(){
        var url = "/procesador-datos-crm/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                console.log('Correcto Proceso');
            }
        };
        request.send();
    }

    setInterval(actualizar_tabla, 1000);
    setInterval(citas_act, 30000);
</script>
{% endblock %}

{% block footer %}

{% include 'componentes/footer.html' %}

{% endblock footer %}