{% extends 'base.html' %}
{% block nav_header %}

{% endblock %}
{% block content %}
<div class="p-2">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto ">
            <h5 id="id_agente" style="display: none;">{{ agente }}</h5>
            <main class="form-signin ">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-2">
                        <div class="">
                            <div class="" style="align-items: center;">
                                <h5 class="fw-light fw-bold">Estado:&nbsp;&nbsp;</h5>
                                <select style="width: 135px; height: 35px;"
                                    class="roundedInput form-select form-select-sm" aria-label=".form-select-sm example"
                                    id="status_select" name="status_select" onchange="estados()">
                                    <option value="Activo" selected>Activo</option>
                                    <option value="Disponible">Disponible</option>
                                    <option value="Ocupado" disabled>Ocupado</option>
                                    <option value="Inactivo">Inactivo</option>
                                    <option value="Desconectado">Desconectado</option>
                                </select>
                            </div>
                        </div>
                        <div class="mt-2">
                            <div class="" style="align-items: center;">
                                <h5 class="fw-light fw-bold">Cola:&nbsp;&nbsp;</h5>
                                <button class="btnStyle btn btn-md btn-login fw-bold mb-2 d-flex" type="button"
                                    id="btnAsignar" data-bs-toggle="modal"
                                    data-bs-target="#modal_colas">Asignar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-6 mb-4 mt-3 border border-dark rounded"
                        style="display: flex; align-items: center; justify-content: center; border-color: black;">
                        <div class="form-floating mb-3 mt-3">
                            <h1 id="txtNumero" class="display-3">N/C</h1>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                        <div class="d-flex justify-content-center flex-wrap mx-auto ">
                            <div class="col-md-6 justify-content-center">
                                <button class="btnStyle btn btn-md btn-login fw-bold mb-2 d-flex" type="button"
                                    id="btnSiguiente" onclick="numeroSiguiente()">Siguiente</button>
                            </div>

                            <button id="btnTransferir" type="button"
                                class="fw-bold btnStyle btn btn-md dropdown-toggle mb-2" data-bs-toggle="dropdown"
                                aria-expanded="false">Transferir</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" style="cursor: pointer;"
                                        onclick="transferencia('Admisiones')">Admisiones</a></li>
                                <li><a class="dropdown-item" style="cursor: pointer;"
                                        onclick="transferencia('Registro')">Registro</a></li>
                                <li><a class="dropdown-item disabled" style="cursor: pointer;"
                                        onclick="transferencia('Cajas')">Cajas</a></li>
                                <li><a class="dropdown-item" style="cursor: pointer;"
                                        onclick="transferencia('Cursos Libres')">Cursos Libres</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" style="cursor: pointer;"
                                        onclick="transferencia('Registro/Tesis')">Registro/Tesis</a></li>
                                <li><a class="dropdown-item" style="cursor: pointer;"
                                        onclick="transferencia('Registro/Convalidacion')">Registro/Convalidacion</a>
                                </li>
                                <li><a class="dropdown-item" style="cursor: pointer;"
                                        onclick="transferencia('Registro/Retiros')">Registro/Retiros-Congelacion</a>
                                </li>
                                <li><a class="dropdown-item" style="cursor: pointer;"
                                        onclick="transferencia('Registro/Suficiencia')">Registro/Suficiencia</a>
                                </li>
                                <li><a class="dropdown-item" style="cursor: pointer;"
                                        onclick="transferencia('Registro/Graduaciones')">Registro/Graduaciones</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                        <div class="d-flex justify-content-center flex-wrap mx-auto ">
                            <a class="btnStyle3 btn btn-md btn-login fw-bold" type="button" id="btnSalir"
                                href="{% url 'registro_agente' %}" onclick="initializeWebChannel();">Salir</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
{% block modal_colas%}
<div class="modal fade" id="modal_colas" tabindex="-1" aria-labelledby="modal_colasTitle" style="display: none"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title titulo" id="exampleModalCenterTitle">Colas de Atencion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="checkboxContainer" class="modal-body">
                <div class="row">
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Documentos">
                        <label class="form-check-label" for="inlineCheckbox1">Documentos</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Suficiencia">
                        <label class="form-check-label" for="inlineCheckbox2">Suficiencia</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Convalidación">
                        <label class="form-check-label" for="inlineCheckbox3">Convalidación</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="Congelamientos">
                        <label class="form-check-label" for="inlineCheckbox4">Congelamientos</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="Graducaciones">
                        <label class="form-check-label" for="inlineCheckbox5">Graducaciones</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="Seminario">
                        <label class="form-check-label" for="inlineCheckbox6">Seminario de Graduación</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="Taller">
                        <label class="form-check-label" for="inlineCheckbox7">Taller</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="Cartas">
                        <label class="form-check-label" for="inlineCheckbox8">Solicitudes Cartas</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="Adecuaciones">
                        <label class="form-check-label" for="inlineCheckbox9">Adecuaciones</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="Graducaciones">
                        <label class="form-check-label" for="inlineCheckbox10">Graducaciones</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="Actas">
                        <label class="form-check-label" for="inlineCheckbox11">Actas</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox12" value="TCU">
                        <label class="form-check-label" for="inlineCheckbox12">TCU</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox13" value="CursosLibres">
                        <label class="form-check-label" for="inlineCheckbox13">Cursos Libres</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox14" value="Examenes">
                        <label class="form-check-label" for="inlineCheckbox14">Exámenes</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox15" value="Matricula">
                        <label class="form-check-label" for="inlineCheckbox15">Matrícula</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="cola()" data-bs-dismiss="modal" class="btnStyle btn">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
{% endblock modal_colas %}

<style>
    .titulo{
        font-weight: 700; 
        font-size: 18px;
        color: #000000;
    }
    .roundedInput {
        border-radius: 40px;
        text-align: justify;
        font-size: 15px;
        font-family: 'Abrade';
        font-weight: 600;
    }

    .btnStyle {
        background-color: #000000;
        color: #ffffff;
        border-radius: 50px;
        border-color: #000000;
        font-size: 15px;
    }

    .btnStyle3 {
        background-color: #960000;
        color: white;
        border-radius: 50px;
        border-color: #960000;
        font-size: 15px;
    }

    .btnStyle:hover {
        background-color: #000000;
        color: #ffd142;
        border-color: #000000;
    }
</style>
<script>
    window.onload = function () {
        estados();
    };

    function cola() {
        var checkboxContainer = document.getElementById("checkboxContainer");
        var checkboxes = checkboxContainer.querySelectorAll('input[type="checkbox"]');
        var cola = "Registro";
        checkboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                cola = cola.concat(",",checkbox.value)
            }
        });

        var agente = document.getElementById("id_agente").textContent;
        var url = "/cambiar-cola/?agente=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(agente) + "&cola=" + encodeURIComponent(cola), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
            }
        };
        request.send();

    }

    function estados() {
        var estadoactual = document.getElementById("status_select").value;

        var numero = document.getElementById("txtNumero");
        var url = "/estados-reporte/?estado=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(estadoactual), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                estadosbtn();
            }
        };
        request.send();

    }

    function estadosbtn() {
        var estadoactual = document.getElementById("status_select").value;
        console.log(estadoactual);
        var boton = document.getElementById("btnSiguiente");
        var boton2 = document.getElementById("btnTransferir");
        var boton3 = document.getElementById("btnSalir");
        var numero = document.getElementById("txtNumero");
        var cola = document.getElementById("btnAsignar");

        if (estadoactual == 'Activo' || estadoactual == 'Inactivo') {
            boton.disabled = true;
            boton2.disabled = true;
            boton3.classList.add("disabled");
            numero.innerHTML = 'N/C';
            cola.disabled = false;
        }
        else if (estadoactual == 'Desconectado') {
            boton.disabled = true;
            boton2.disabled = true;
            boton3.classList.remove("disabled");
            numero.innerHTML = 'N/C';
            cola.disabled = true;
        }
        else if (estadoactual == 'Disponible') {
            boton.disabled = false;
            boton2.disabled = false;
            boton3.classList.add("disabled");
            numero.innerHTML = 'N/C';
            cola.disabled = true;
        }
        else if (estadoactual == 'Ocupado') {
            boton.disabled = false;
            boton2.disabled = false;
            boton3.classList.add("disabled");
            cola.disabled = true;
        }
    }

    function numeroSiguiente() {
        var numero = document.getElementById("txtNumero");
        var estadoactual = document.getElementById("status_select");
        if (estadoactual.value == "Disponible" || estadoactual.value == "Ocupado") {
            var url = "/numero-agente/";
            var request = new XMLHttpRequest();
            request.open('GET', url, true);
            request.onload = function () {
                if (request.status === 200) {
                    var data = JSON.parse(request.responseText);
                    for (var key in data) {
                        if (data.hasOwnProperty(key)) {
                            numero.innerHTML = data[key];
                            if (data[key] === "N/C") {
                                estadoactual.selectedIndex = 1;
                                estados();
                            }
                            else {
                                estadoactual.selectedIndex = 2;
                                estados();
                            }
                        }
                    }

                }
            };
            request.send();
        }
    }

    function transferencia(departamento) {
        var estadoactual = document.getElementById("status_select");
        var numero = document.getElementById("txtNumero");
        var url = "/transferencia/?departamento=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(departamento), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                estadoactual.selectedIndex = 1;
                numero.innerHTML = "N/C";
                estados();
            }
        };
        request.send();
    }

    function initializeWebChannel() {
        if (typeof QWebChannel !== 'undefined') {
            new QWebChannel(qt.webChannelTransport, function (channel) {
                var resizeObj = channel.objects.resizeObj;
                if (resizeObj) {
                    resizeObj.restore_resize_window(500, 580);
                }
            });
        }
    }

</script>
{% endblock %}