{% extends 'base.html' %}
{% load static %}
{% block nav_header %}
{% include 'componentes/navbarheader.html' %}
{% endblock %}
{% block background %}

<div class="fondoFigura">
    <div class="imgFondo"></div>
</div>

<style>
    .fondoFigura {
        width: 100%;
    }

    .imgFondo {
        background: url('{% static "img/iStock5.jpg" %}') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 500px;
        clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
    }
</style>

{% endblock background %}
{% block content %}
<div class="">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto ">
            <h5 class="titulo">CONTROL DE AGENTES</h5>
            <div class="row">
                <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto mb-4">
                    <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto">
                        <button id="export-button" type="button" class="btn btn-outline-dark mb-2" data-bs-toggle="modal"
                        data-bs-target="#modal_nuevoagente" onclick="cargarDepartamentos()">Nuevo Agente</button>
                        <div class=" table-responsive">
                            <div class="table-responsive-sm">
                                <table id="record-table" style="height: 100px;"
                                    class="table  table-hover table-fixed-height">
                                    <thead class="table-dark1">
                                        <tr>
                                            <th>
                                                <h5 class="mt-2 text-center fw-bold">NOMBRE DE AGENTE</h5>
                                            </th>
                                            <th>
                                                <h5 class="mt-2 text-center fw-bold">DEPARTAMENTO</h5>
                                            </th>
                                            <th>
                                                <h5 class="mt-2 text-center fw-bold">ACCIONES</h5>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for agente in agentes %}
                                        <tr class="colorfilas">
                                            <td class="text-center align-middle">
                                                <h5 id="agente_id" hidden>{{ agente.id_agente }}</h5>
                                                <h5 id="agente_nombre">{{ agente.nombreAgente }}</h5>
                                            </td>
                                            <td class="text-center align-middle">
                                                <h5 id="agente_departamento">{{ agente.departamento }}</h5>
                                            </td>
                                            <td class="text-center align-middle">
                                                <button type="button" data-bs-toggle="modal" data-bs-target="#modal_nuevoagente"
                                                    onclick="modalModificarAgente('modificar')" class="btn">Modificar</button>
                                                <button type="button" data-bs-toggle="modal" data-bs-target="#modal_nuevoagente"
                                                    onclick="modalModificarAgente('eliminar')" class="btn">Eliminar</button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto" style="margin-top: 80px;">
            <h5 class="titulo">MÉTRICAS POR AGENTE</h5>
            <div class="row">
                <div class="col-12 col-sm-10 col-md-12 col-lg-4 mx-auto mb-4 p-2">
                    <div class=" mb-3 col">
                        <select id="departamento1"
                            class="roundedInput form-select" name="departamento" onchange="cargarAgentes()">
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-10 col-md-12 col-lg-4 mx-auto mb-4 p-2">
                    <div class=" mb-3 col">
                        <select id="agente_select1" class="roundedInput form-select" name="agente_select2"
                            data-placeholder="Seleccion Agente">
                            <option style="opacity: 0.65" value="" disabled selected>Seleccione Agente</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-10 col-md-12 col-lg-4 mx-auto mb-4 p-2">
                    <div class=" mb-3 date col">
                        <input type="date" class="roundedInput form-control" id="date2" />
                    </div>
                </div>
                <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto mb-4">
                    <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto">
                        <div class=" table-responsive">
                            <button id="export-button" type="button" class="btn btn-outline-dark mb-2"
                                onclick="exportToExcel2()">Exportar a Excel</button>
                            <div class="table-responsive-sm">
                                <table id="record-table3" style="height: 100px;"
                                    class="table  table-hover table-fixed-height">
                                    <thead class="table-dark1">
                                        <tr>
                                            <th>
                                                <h5 class="mt-2 text-center fw-bold">AGENTE</h5>
                                            </th>
                                            <th>
                                                <h5 class="mt-2 text-center fw-bold">CÓDIGO</h5>
                                            </th>
                                            <th>
                                                <h5 class="mt-2 text-center fw-bold">ESTADO</h5>
                                            </th>
                                            <th>
                                                <h5 class="mt-2 text-center fw-bold">FECHA</h5>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for encuesta in encuestas %}
                                        <tr class="colorfilas">
                                            <td class="text-center align-middle">
                                                <h5 id="id_agente2">{{ encuesta.agente_id }}</h5>
                                            </td>
                                            <td class="text-center align-middle">
                                                <h5>{{ encuesta.codigoCaso }}</h5>
                                            </td>
                                            <td class="text-center align-middle">
                                                <h5>{{ encuesta.estado }}</h5>
                                            </td>
                                            <td class="text-center align-middle">
                                                <h5 id="fecha2">{{ encuesta.fecha }}</h5>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto" style="margin-top: 80px;">
            <h5 class="titulo">TIEMPOS DE CASOS POR AGENTES</h5>
            <div class="row">
                <div class="col-12 col-sm-10 col-md-12 col-lg-4 mx-auto mb-4 p-2">
                    <div class=" mb-3 col">
                        <select id="departamento2" data-placeholder="Seleccione Departamento"
                            class="roundedInput form-select" name="departamento" onchange="cargarAgentes2()">
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-10 col-md-12 col-lg-4 mx-auto mb-4 p-2">
                    <div class=" mb-3 col">
                        <select id="agente_select2" class="roundedInput form-select" name="agente_select2"
                            data-placeholder="Seleccion Agente">
                            <option style="opacity: 0.65" value="" disabled selected hidden>Seleccione Agente</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-10 col-md-12 col-lg-4 mx-auto mb-4 p-2">
                    <div class=" mb-3 date col">
                        <input type="date" class="roundedInput form-control" id="date" />
                    </div>
                </div>
                <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto mb-4">
                    <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto">
                        <div class=" table-responsive">
                            <button id="export-button" type="button" class="btn btn-outline-dark mb-2"
                                onclick="exportToExcel()">Exportar a Excel</button>
                            <div class="table-responsive-sm">
                                <table id="record-table2" style="height: 100px;"
                                    class="table  table-hover table-fixed-height">
                                    <thead class="table-dark1">
                                        <tr>
                                            <th>
                                                <h5 class="mt-2 text-center fw-bold">AGENTE</h5>
                                            </th>
                                            <th>
                                                <h5 class="mt-2 text-center fw-bold">CÓDIGO</h5>
                                            </th>
                                            <th>
                                                <h5 class="mt-2 text-center fw-bold">FECHA</h5>
                                            </th>
                                            <th>
                                                <h5 class="mt-2 text-center fw-bold">TIEMPO DE INICIO</h5>
                                            </th>
                                            <th>
                                                <h5 class="mt-2 text-center fw-bold">TIEMPO DE FIN</h5>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for record in records %}
                                        <tr class="colorfilas">
                                            <td class="text-center align-middle">
                                                <h5 id="id_agente">{{ record.agente_id }}</h5>
                                            </td>
                                            <td class="text-center align-middle">
                                                <h5>{{ record.codigoCaso }}</h5>
                                            </td>
                                            <td class="text-center align-middle">
                                                <h5 id="fecha">{{ record.fecha }}</h5>
                                            </td>
                                            <td class="text-center align-middle">
                                                <h5>{{ record.tiempoInicio }}</h5>
                                            </td>
                                            <td class="text-center align-middle">
                                                <h5>{{ record.tiempoFinal }}</h5>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block modal_nuevoagente%}
<div class="modal fade" id="modal_nuevoagente" tabindex="-1" aria-labelledby="modal_nuevoagenteTitle"
    style="display: none" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-4">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_nuevoagenteTitle">
                    CREACIÓN DE NUEVO AGENTE
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><span class="bi bi-x-lg" style="color: white;"></span></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formModal" method="POST" action="{% url 'nuevo_agente' %}">
                    {% csrf_token %}
                    <div class="row ">
                        <div class=" mb-3">
                            <div class="mb-3">
                                <input type="text" class="roundedInput form-control" id="id_agente_modal"
                                    name="id_agente_modal" style="display: none;">
                                <label for="">Nombre del Agente</label>
                                <input type="text" class="roundedInput form-control" id="nombre_agente" placeholder="Nombre de Agente"
                                    name="nombre_agente" required>
                            </div>

                        </div>
                        <div class="mb-3 ">
                            <div class="mb-3">
                                <label id="labelDepartamento" for="">Departamento</label>
                                <select id="tramite_select" class="roundedInput form-select" name="tramite_select" required>
                                    <option selected disabled>Departamentos</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="d-grid mb-2">
                            <button type="submit" class="w-100 btn btn-lg btn-primary btn-login fw-bold"
                                id="btnModal"> Registrar Agente</button>

                            <div id="loading-indicator" class="hidden">
                                <div class="spinner"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .roundedInput:focus{
        outline: 1px solid #ffd142;
        border-color: #ffd142;
        box-shadow: 0 0 1px #ffd142;
    }
    .modal-header{
        background-color: #000000;
        color: white;
    }
    .btn-close{
        color: white;
    }
</style>

{% endblock modal_nuevoagente %}


<style>
    .table-dark1{
        background-color: black;
        color: white;
    }
    .roundedInput {
        border-radius: 50px;
        text-align: justify;
        font-size: 22px;
        padding: 10px;
        padding-left: 30px;
        font-family: 'Abrade';
        font-weight: 600;
    }

    .titulo {
        text-align: end;
        font-size: 40px;
        font-weight: 900;
        color: #000000;
    }

    table.dataTable {
        border-collapse: separate;
        width: 100%;
        border-spacing: 0 4px;
    }

    .colorfilas {
        background-color: white;
        border-color: transparent;
    }

    td:first-child,
    th:first-child {
        border-radius: 50px 0 0 50px;
    }

    td:last-child,
    th:last-child {
        border-radius: 0 50px 50px 0;
    }
</style>

<script>
    window.onload = function () {
        cargarDepartamentos2();
        cargarDepartamentos3();
        var dateInput = document.getElementById("date");
        var dateInput2 = document.getElementById("date2");

        // Obtener la fecha actual
        var currentDate = new Date();

        // Obtener el formato de fecha YYYY-MM-DD
        var formattedDate = currentDate.toISOString().split("T")[0];

        // Establecer la fecha actual como valor predeterminado del campo
        dateInput.value = formattedDate;
        dateInput2.value = formattedDate;
    };

    function cargarDepartamentos() {
        var select2 = document.getElementById("tramite_select");

        var url = "/obtener-departamentos/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                select2.options.length = 0;
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        var option = document.createElement("option");
                        option.value = key;
                        option.text = data[key];
                        select2.add(option);
                    }
                }
            }
        };
        request.send();
    }

    function cargarDepartamentos2() {
        var select2 = document.getElementById("departamento1");

        var url = "/obtener-departamentos/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                select2.options.length = 0;
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        var option = document.createElement("option");
                        option.value = data[key];
                        option.text = data[key];
                        select2.add(option);
                    }
                }
                cargarAgentes();
            }
        };
        request.send();
    }

    function cargarDepartamentos3() {
        var select2 = document.getElementById("departamento2");

        var url = "/obtener-departamentos/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                select2.options.length = 0;
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        var option = document.createElement("option");
                        option.value = data[key];
                        option.text = data[key];
                        select2.add(option);
                    }
                }
                cargarAgentes2();
            }
        };
        request.send();
    }

    function cargarAgentes() {
        var select = document.getElementById("departamento1").value;
        var select2 = document.getElementById("agente_select1");

        var url = "/obtener-agentes/?departamento=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(select), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                select2.options.length = 0;
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        var option = document.createElement("option");
                        option.value = key;
                        option.text = data[key];
                        select2.add(option);
                    }
                }
            }
        };
        request.send();
    }

    function cargarAgentes2() {
        var select = document.getElementById("departamento2").value;
        var select2 = document.getElementById("agente_select2");

        var url = "/obtener-agentes/?departamento=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(select), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                select2.options.length = 0;
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        var option = document.createElement("option");
                        option.value = key;
                        option.text = data[key];
                        select2.add(option);
                    }
                }
            }
        };
        request.send();
    }

    var modal = document.getElementById('modal_nuevoagente');
    modal.addEventListener('hidden.bs.modal', function () {
        var nombre_agente = document.getElementById("nombre_agente");
        var tramite_select = document.getElementById("tramite_select");

        var modal_nuevoagenteTitle = document.getElementById("modal_nuevoagenteTitle");
        var btnModalDepartamento = document.getElementById("btnModal");
        var formDepartamento = document.getElementById("formModal");

        nombre_agente.value = "";

        btnModalDepartamento.innerText = "Registrar Agente";

        modal_nuevoagenteTitle.innerText = "CREACIÓN DE NUEVO AGENTE";

        formDepartamento.action = "{% url 'nuevo_agente' %}";

        tramite_select.style.display = "block";
    });

    function modalModificarAgente(accion) {
        var fila = event.target.closest('tr');

        var agente_id = fila.querySelector('#agente_id').textContent;
        var agente_nombre = fila.querySelector('#agente_nombre').textContent;
        var agente_departamento = fila.querySelector('#agente_departamento').textContent;

        var id_agente = document.getElementById("id_agente_modal");
        var nombre_agente = document.getElementById("nombre_agente");
        var tramite_select = document.getElementById("tramite_select");

        var modal_nuevoagenteTitle = document.getElementById("modal_nuevoagenteTitle");
        var btnModalDepartamento = document.getElementById("btnModal");
        var formDepartamento = document.getElementById("formModal");
        var labelDepartamento = document.getElementById("labelDepartamento");

        id_agente.value = agente_id;
        nombre_agente.value = agente_nombre;

        cargarDepartamentos();

        console.log(tramite_select.options.length);
        for (var i = 0; i < tramite_select.options.length; i++) {
            if (tramite_select.options[i].textContent === agente_departamento) {
                tramite_select.selectedIndex = i;
                break;
            }
        }

        if (accion === 'modificar') {
            btnModalDepartamento.innerText = "Modificar Agente";

            modal_nuevoagenteTitle.innerText = "MODIFICACIÓN DE AGENTE";

            formDepartamento.action = "{% url 'modificar_agente' %}";

            tramite_select.style.display = "block";
        }
        else if (accion === 'eliminar') {
            btnModalDepartamento.innerText = "Eliminar Agente";

            modal_nuevoagenteTitle.innerText = "ELIMINACIÓN DE AGENTE";

            formDepartamento.action = "{% url 'eliminar_agente' %}";

            tramite_select.style.display = "none";
            labelDepartamento.style.display = "none";
        }

    }

    $(document).ready(function () {
        $('#record-table').DataTable({
            select: true,
            searching: false,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "select": {
                    "rows": {
                        "_": "Seleccionado %d filas",
                        "0": "Haga clic en una fila para seleccionarla",
                        "1": "Seleccionado 1 fila"
                    }
                }
            }
        });
        $('#record-table2').DataTable({
            select: true,
            searching: false,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "select": {
                    "rows": {
                        "_": "Seleccionado %d filas",
                        "0": "Haga clic en una fila para seleccionarla",
                        "1": "Seleccionado 1 fila"
                    }
                }
            }
        });
        $('#record-table3').DataTable({
            select: true,
            searching: false,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "select": {
                    "rows": {
                        "_": "Seleccionado %d filas",
                        "0": "Haga clic en una fila para seleccionarla",
                        "1": "Seleccionado 1 fila"
                    }
                }
            }
        });
    });

    var agenteSelect = document.getElementById("agente_select1");
    var fechaSelect = document.getElementById("date2");

    fechaSelect.addEventListener("change", function () {
        var selectedAgenteId = agenteSelect.value; // Obtener el ID del agente seleccionado
        // Obtener todas las filas de la tabla
        var rows = document.querySelectorAll("#record-table3 tbody tr");

        // Iterar sobre cada fila y ocultar aquellas que no coincidan con el agente seleccionado
        rows.forEach(function (row) {
            var agente = row.querySelector("#id_agente2").textContent; // Obtener el ID del agente en la fila
            var fecha = row.querySelector("#fecha2").textContent;
            var dateInput = document.getElementById("date2");

            // Agregar un evento de escucha para capturar el cambio de fecha
            var selectedDate = dateInput.value; // Obtener la fecha seleccionada en formato "yyyy-mm-dd"

            // Formatear la fecha como "aaaa-mm-dd"
            var formattedDate = selectedDate.split("-").join("-");
            console.log(formattedDate);
            if ((selectedAgenteId === "" || agente === selectedAgenteId) && (formattedDate === "" || fecha === formattedDate)) {
                row.style.display = ""; // Mostrar la fila si no se seleccionó ningún agente o si coincide con el agente seleccionado
            } else {
                row.style.display = "none"; // Ocultar la fila si no coincide con el agente seleccionado
            }
        });
    });
    // Agregar un evento de escucha para capturar el cambio de opción
    agenteSelect.addEventListener("click", function () {
        var selectedAgenteId = agenteSelect.value; // Obtener el ID del agente seleccionado
        // Obtener todas las filas de la tabla
        var rows = document.querySelectorAll("#record-table3 tbody tr");

        // Iterar sobre cada fila y ocultar aquellas que no coincidan con el agente seleccionado
        rows.forEach(function (row) {
            var agente = row.querySelector("#id_agente2").textContent; // Obtener el ID del agente en la fila
            var fecha = row.querySelector("#fecha2").textContent;
            var dateInput = document.getElementById("date2");

            // Agregar un evento de escucha para capturar el cambio de fecha
            var selectedDate = dateInput.value; // Obtener la fecha seleccionada en formato "yyyy-mm-dd"

            // Formatear la fecha como "aaaa-mm-dd"
            var formattedDate = selectedDate.split("-").join("-");
            console.log(formattedDate);
            if ((selectedAgenteId === "" || agente === selectedAgenteId) && (formattedDate === "" || fecha === formattedDate)) {
                row.style.display = ""; // Mostrar la fila si no se seleccionó ningún agente o si coincide con el agente seleccionado
            } else {
                row.style.display = "none"; // Ocultar la fila si no coincide con el agente seleccionado
            }
        });
    });


    // Obtener la referencia al select del agente
    var agenteSelect2 = document.getElementById("agente_select2");
    var fechaSelect2 = document.getElementById("date");

    fechaSelect2.addEventListener("change", function () {
        var selectedAgenteId = agenteSelect2.value; // Obtener el ID del agente seleccionado
        // Obtener todas las filas de la tabla
        var rows = document.querySelectorAll("#record-table2 tbody tr");

        // Iterar sobre cada fila y ocultar aquellas que no coincidan con el agente seleccionado
        rows.forEach(function (row) {
            var agente = row.querySelector("#id_agente").textContent; // Obtener el ID del agente en la fila
            var fecha = row.querySelector("#fecha").textContent;
            var dateInput = document.getElementById("date");

            // Agregar un evento de escucha para capturar el cambio de fecha
            var selectedDate = dateInput.value; // Obtener la fecha seleccionada en formato "yyyy-mm-dd"

            // Formatear la fecha como "aaaa-mm-dd"
            var formattedDate = selectedDate.split("-").join("-");
            if ((selectedAgenteId === "" || agente === selectedAgenteId) && (formattedDate === "" || fecha === formattedDate)) {
                row.style.display = ""; // Mostrar la fila si no se seleccionó ningún agente o si coincide con el agente seleccionado
            } else {
                row.style.display = "none"; // Ocultar la fila si no coincide con el agente seleccionado
            }
        });
    });
    // Agregar un evento de escucha para capturar el cambio de opción
    agenteSelect2.addEventListener("click", function () {
        var selectedAgenteId = agenteSelect2.value; // Obtener el ID del agente seleccionado
        // Obtener todas las filas de la tabla
        var rows = document.querySelectorAll("#record-table2 tbody tr");

        // Iterar sobre cada fila y ocultar aquellas que no coincidan con el agente seleccionado
        rows.forEach(function (row) {
            var agente = row.querySelector("#id_agente").textContent; // Obtener el ID del agente en la fila
            var fecha = row.querySelector("#fecha").textContent;
            var dateInput = document.getElementById("date");

            // Agregar un evento de escucha para capturar el cambio de fecha
            var selectedDate = dateInput.value; // Obtener la fecha seleccionada en formato "yyyy-mm-dd"

            // Formatear la fecha como "aaaa-mm-dd"
            var formattedDate = selectedDate.split("-").join("-");
            console.log(formattedDate);
            if ((selectedAgenteId === "" || agente === selectedAgenteId) && (formattedDate === "" || fecha === formattedDate)) {
                row.style.display = ""; // Mostrar la fila si no se seleccionó ningún agente o si coincide con el agente seleccionado
            } else {
                row.style.display = "none"; // Ocultar la fila si no coincide con el agente seleccionado
            }
        });
    });


    function exportToExcel() {
        // Obtener la tabla por su ID
        const table = document.getElementById('record-table2');

        // Crear un objeto de libro de Excel
        const workbook = new ExcelJS.Workbook();
        const worksheet = workbook.addWorksheet('Datos');

        // Recorrer las filas y celdas de la tabla
        const rows = table.querySelectorAll('tr');
        rows.forEach((row, rowIndex) => {
            const cells = row.querySelectorAll('td, th');
            cells.forEach((cell, cellIndex) => {
                // Obtener el contenido de la celda
                const cellData = cell.innerText;
                // Agregar el contenido a la hoja de Excel
                worksheet.getCell(rowIndex + 1, cellIndex + 1).value = cellData;
            });
        });

        // Crear un archivo Excel
        workbook.xlsx.writeBuffer().then((buffer) => {
            // Convertir el buffer a un blob
            const blob = new Blob([buffer], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });

            // Crear un objeto URL para el blob
            const url = URL.createObjectURL(blob);

            // Crear un enlace de descarga
            const link = document.createElement('a');
            link.href = url;
            link.download = 'tabla_estados_casos.xlsx';

            // Simular un clic en el enlace de descarga
            link.click();

            // Liberar el objeto URL
            URL.revokeObjectURL(url);
        });
    }

    function exportToExcel2() {
        // Obtener la tabla por su ID
        const table = document.getElementById('record-table3');

        // Crear un objeto de libro de Excel
        const workbook = new ExcelJS.Workbook();
        const worksheet = workbook.addWorksheet('Datos');

        // Recorrer las filas y celdas de la tabla
        const rows = table.querySelectorAll('tr');
        rows.forEach((row, rowIndex) => {
            const cells = row.querySelectorAll('td, th');
            cells.forEach((cell, cellIndex) => {
                // Obtener el contenido de la celda
                const cellData = cell.innerText;
                // Agregar el contenido a la hoja de Excel
                worksheet.getCell(rowIndex + 1, cellIndex + 1).value = cellData;
            });
        });

        // Crear un archivo Excel
        workbook.xlsx.writeBuffer().then((buffer) => {
            // Convertir el buffer a un blob
            const blob = new Blob([buffer], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });

            // Crear un objeto URL para el blob
            const url = URL.createObjectURL(blob);

            // Crear un enlace de descarga
            const link = document.createElement('a');
            link.href = url;
            link.download = 'tabla_metricas.xlsx';

            // Simular un clic en el enlace de descarga
            link.click();

            // Liberar el objeto URL
            URL.revokeObjectURL(url);
        });
    }
</script>
{% endblock %}