{% extends 'base.html' %}
{% load static %}
{% block nav_header %}
<nav class="navbar navbar-expand-lg navbar-dark pt-4 pb-3" style="background-color: #000000;">
    <div class="container-fluid">
        <a class="navbar-brand px-5">
            <img src="../../static/img/Imagen1.png" alt="" width="95" height="55" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex" style="padding-right: 30px;">
                <button class="btnStyleLey fw-bold pt-2 pb-2"
                            data-bs-toggle="modal"data-bs-target="#modal_ley" type="button" 
                            id="loading-indicator"  onclick="cargarDepartamentosLey()">
                            <img src="../../static/img/wheelchair.png" class="imgLey"></button>
            </form>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex" style="padding-right: 30px;">
                <a class="btn" href="{% url 'logout' %}" type="button">CERRAR SESIÓN</a>
            </form>
        </div>
    </div>
</nav>
<style>
    .imgLey{
        width: 50px;
        height: 50px;
    }

    .btnStyleLey {
        background-color: #003e87  ;
        color: #ffffff;
        border-radius: 30px;
        border-color: #003e87  ;
        font-size: 15px;
        align-items: center;
        align-content: center;
        text-align: center;
        width: 350px;
        margin-left: 400px;
    }
    .btnStyleLey:hover{
        background-color: #002756;
        color: #ffffff;
        border-color: #002756;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: rgb(255, 255, 255);
    }
    .btn{
        border-radius: 50px;
        background-color: #ffd142;
        color: #000000;
        font-weight: bold;
        border-color: #ffd142;
    }
    .btn:hover {
        background-color: #000000;
        color: #ffd142;
        border-color: #000000;
    }

    .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
        color: #ffd142;
    }

    .btn:focus,
    .btn:active,
    .navbar-brand:focus,
    .navbar-brand:active {
        outline: none !important;
        box-shadow: none !important;
    }

</style>
{% endblock %}
{% block background %}

<div class="fondoFigura">
    <div class="imgFondo"></div>
</div>

<style>
    .fondoFigura {
        width: 100%;
    }
    .imgFondo{
        background: url('{% static "img/iStock6.jpg" %}') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 500px;
        clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
    }
</style>

{% endblock background %}
{% block content %}
<div class="">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto ">
            <h5 class="titulo">CONTROL DE TICKETS</h5>
            <div class="row p-2">
                <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto mb-4 p-2">
                    <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto">
                        <div class=" table-responsive px-md-4 px-2 pt-1">
                            <div class="col-12 col-sm-10 col-md-12  mt-4">
                                <div class="table-responsive-sm mt-5">
                                    <h4 class="titulo2 text-center" style="text-transform: uppercase;"></h4>
                                    <table id="record-table-control" class="table dataTable table-hover table-fixed-height">
                                        <thead class="table-dark1">
                                            <tr>
                                                <th style="text-align: center;">
                                                    <h5 class="mt-2 text-center fw-bold">DEPARTAMENTO</h5>
                                                </th>
                                                <th style="text-align: center;">
                                                    <h5 class="mt-2 text-center fw-bold">CANTIDAD</h5>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="colorfilas">
                                                <td class="text-center align-middle"><h5></h5></td>
                                                <td class="text-center align-middle"><h5></h5></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto ">
            <h5 class="titulo">TICKETS POR DEPARTAMENTO</h5>
            <div class="row p-2">
                <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto mb-4 p-2">
                    <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto">
                        <div class=" table-responsive px-md-4 px-2 pt-1">
                            <div class="row">
                                <input type="text" hidden value="{{ departamento.count }}" id="cantidadDepartamentos">
                                {% for depart in departamento %}
                                <div class="col-12 col-sm-10 col-md-12 col-lg-6 mt-4">
                                    <div class="table-responsive-sm mt-5">
                                        <h4 class="titulo2 text-center" style="text-transform: uppercase;">{{ depart.nombre }}</h4>
                                        <table id="record-table{{ forloop.counter }}" style="height: 100px;" class="table  table-hover table-fixed-height">
                                            <thead class="table-dark1">
                                                <tr>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">CÓDIGO</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">TRÁMITE</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">FECHA</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">HORA</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">ATEND</h5>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for ticketDepart in ticket %}
                                                {% if ticketDepart.departamento == depart.nombre %}
                                                <tr class="colorfilas">
                                                    <td class="text-center align-middle">
                                                        <h5 id="id_agente">{{ ticketDepart.codigo }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 class="">{{ ticketDepart.tramite }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 id="fecha" class="">{{ ticketDepart.fecha }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 id="fecha" class="">{{ ticketDepart.hora }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        {% if  ticketDepart.atendido %}
                                                        <i class="fa-solid fa-circle-check fa-xl" style="color: #006602;"></i>
                                                        {% else %}
                                                        <i class="fa-solid fa-circle-xmark fa-xl" style="color: #9e0000;"></i>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-10 col-md-12 col-lg-12" style="margin-top: 80px;">
                    <div class="table-responsive-sm">
                        <h4 class="titulo2 text-center">CLIENTES EN VENTANILLA</h4>
                        <table id="record-table-ventana" style="height: 100px;" class="table  table-hover table-fixed-height">
                            <thead class="table-dark1">
                                <tr>
                                    <th>
                                        <h5 class="mt-2 text-center fw-bold">CÓDIGO</h5>
                                    </th>
                                    <th>
                                        <h5 class="mt-2 text-center fw-bold">NÚMERO DE VENTANILLA</h5>
                                    </th>
                                    <th>
                                        <h5 class="mt-2 text-center fw-bold">DEPARTAMENTO</h5>
                                    </th>
                                    <th>
                                        <h5 class="mt-2 text-center fw-bold">FECHA</h5>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in records %}
                                <tr class="colorfilas">
                                    <td class="text-center align-middle">
                                        <h5 id="" hidden>{{ record.pk }}</h5>
                                        <h5 id="id_agente">{{ record.codigoCaso }}</h5>
                                    </td>
                                    <td class="text-center align-middle">
                                        <h5 class="">{{ record.numeroVentanilla }}</h5>
                                    </td>
                                    <td class="text-center align-middle">
                                        <h5>{{ record.departamento }}</h5>
                                    </td>
                                    <td class="text-center align-middle">
                                        <h5 id="fecha">{{ record.fecha }}</h5>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto ">
            <h5 class="titulo">TICKETS NO PRESENTES</h5>
            <div class="row p-2">
                <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto mb-4 p-2">
                    <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto">
                        <div class=" table-responsive px-md-4 px-2 pt-1">
                            <div class="col-12 col-sm-10 col-md-12  mt-4">
                                <div class="table-responsive-sm mt-5">
                                    <h4 class="titulo2 text-center" style="text-transform: uppercase;"></h4>
                                    <table id="record-table-presente" class="table dataTable table-hover table-fixed-height">
                                        <thead class="table-dark1">
                                            <tr>
                                                <th>
                                                    <h5 class="mt-2 text-center fw-bold">CÓDIGO</h5>
                                                </th>
                                                <th>
                                                    <h5 class="mt-2 text-center fw-bold">TRÁMITE</h5>
                                                </th>
                                                <th>
                                                    <h5 class="mt-2 text-center fw-bold">FECHA</h5>
                                                </th>
                                                <th>
                                                    <h5 class="mt-2 text-center fw-bold">HORA</h5>
                                                </th>
                                                <th>
                                                    <h5 class="mt-2 text-center fw-bold">ESTADO</h5>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for ticketDepart in ticket %}
                                                {% if ticketDepart.estado == 'N/P' %}
                                                <tr class="colorfilas">
                                                    <td class="text-center align-middle">
                                                        <h5 id="id_agente">{{ ticketDepart.codigo }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 class="">{{ ticketDepart.tramite }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 id="fecha" class="">{{ ticketDepart.fecha }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 id="fecha" class="">{{ ticketDepart.hora }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 id="" class="">NO PRESENTE</h5>
                                                    </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto">
            <h5 class="titulo">CONTROL DE CITAS</h5>
            <div class="row">
                <div class="col-12 col-sm-10 col-md-12 col-lg-4 mx-auto mb-4 p-2">
                    <div class="mb-3 col">
                        <select id="departamento" data-placeholder="Seleccione Departamento"
                            class="roundedInput form-select" name="departamento" required onchange="cargarAgentes()">
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-10 col-md-12 col-lg-4 mx-auto mb-4 p-2">
                    <div class=" mb-3 col">
                        <select id="agente_select" class="roundedInput form-select" name="agente_select"
                            data-placeholder="Seleccion Agente">
                            <option style="opacity: 0.65" value="" disabled selected hidden>Seleccione Agente</option>
                        </select>

                    </div>
                </div>
                <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto">
                    <div class="card-body table-responsive px-md-4 px-2 pt-3">
                        <div class="table-responsive-sm">
                            <table id="record-table" style="height: 100px;"
                                class="table table-borderless table-hover table-fixed-height">
                                <thead class="table-dark1">
                                    <tr>
                                        <th>
                                            <h5 id="" class="mt-2 text-center fw-bold">FECHA</h5>
                                        </th>
                                        <th>
                                            <h5 id="" class="mt-2 text-center fw-bold">IDENTIFICACION</h5>
                                        </th>
                                        <th>
                                            <h5 id="" class="mt-2 text-center fw-bold">NOMBRE DEL CLIENTE</h5>
                                        </th>
                                        <th>
                                            <h5 id="" class="mt-2 text-center fw-bold">TELEFONO</h5>
                                        </th>
                                        <th>
                                            <h5 id="" class="mt-2 text-center fw-bold">NOMBRE DE ASESOR</h5>
                                        </th>
                                        <th>
                                            <h5 id="" class="mt-2 text-center fw-bold">ESTADO</h5>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cita in citas %}
                                    <tr class="colorfilas my-1">
                                        <td class="text-center align-middle">
                                            <h5 id="cId" hidden>{{ cita.id_citas }}</h5>
                                            <h5 id="cCodigo" hidden>{{ cita.codigo }}</h5>
                                            <h5 id="cFecha">{{ cita.fecha }}</h5>
                                        </td>
                                        <td class="text-center align-middle">
                                            <h5 id="cIdentificacion">{{ cita.identificacion }}</h5>
                                        </td>
                                        <td class="text-center align-middle">
                                            <h5 id="cCliente">{{ cita.nombreCliente }}</h5>
                                        </td>
                                        <td class="text-center align-middle">
                                            <h5 id="cTelefono">{{ cita.telefono }}</h5>
                                        </td>
                                        <td class="text-center align-middle">
                                            {% for agente in agentes %}
                                            {% if agente.nombreAgente == cita.nombreAgente %}
                                            <h5 id="cAsesor">{{ cita.nombreAgente }}</h5>
                                            <h5 id="id_agente" hidden>{{ agente.pk }}</h5>
                                            <h5 id="departamente_agente" hidden>{{ agente.departamento }}</h5>
                                            {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td class="text-center align-middle">
                                            <h5 id="cEstado">{{ cita.estado }}</h5>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Model de Cambio de data -->
{% block modal_ley %}
<div class="modal fade" id="modal_ley" tabindex="-1" aria-labelledby="modal_leyTitle" style="display: none"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body p-4">
                <main class="form-signin">
                    <div class="row">
                        <div class="form-floating" style="margin-bottom: 1px;">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <h3 class="modal-title" style="text-align: center; font-weight: 900; color: #000000;" id="modal_tramitesTitle">TIQUETE PREFERENCIAL</h3>
                            <p style="text-align: center; font-size: 25px; color: #878787; font-weight: bold;">Seleccioná el departamento al que deseas dirigirte.</p>
                        </div>
                    </div>
                    <div class="row mb-3 mt-3" style="align-items: center; justify-content: center;">
                        <select id="departamento_ley" data-placeholder="Seleccione Departamento"
                            class="roundedInputSelect form-select" name="departamento_ley" required>
                        </select>
                    </div>
                    <div class="row" style="align-items: center; justify-content: center;">
                        <button class="btnStyleG btn btn-lg fw-bold"
                        type="button" id="btnGenerar" onclick="crear_ticket_ley()"><p style="font-size: 25px;" class="mt-3 mb-3">Generar Ticket</p></button>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
{% endblock modal_ley %}

<style>
    .modal-dialog.custom-modal-lg {
        max-width: 35%; /* Puedes ajustar el porcentaje según tus necesidades */
    }
    .table-dark1{
        background-color: black;
        color: white;
    }
    .roundedInput {
        border-radius: 50px;
        text-align: justify;
        font-size: 22px;
        padding: 10px;
        padding-left: 30px;
        font-family: 'Abrade';
        font-weight: 600;
    }

    .btnStyleG {
        background-color: #000000;
        color: white;
        border-radius: 30px;
        border-color: #000000;
        font-size: 15px;
    }

    .roundedInputSelect {
        border-radius: 50px;
        text-align: justify;
        font-size: 30px;
        padding: 10px;
        padding-left: 30px;
        font-family: 'Abrade';
        font-weight: 600;
        width: 100%;
    }
    .titulo{
        text-align: end;
        font-size: 40px;
        font-weight: 900;
        color: #000000;
    }

    .titulo2{
        text-align: center;
        font-size: 25px;
        font-weight: 800;
        color: #000000;
    }
    table.dataTable  {
        border-collapse: separate;
        width: 100%;
        border-spacing: 0 4px;
    }
    .colorfilas{
        background-color: white;
        border-color: transparent;
    }
    td:first-child,
    th:first-child {
        border-radius: 50px 0 0 50px;
    }

    td:last-child,
    th:last-child {
        border-radius: 0 50px 50px 0;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var cantidadDepartamentos = document.getElementById('cantidadDepartamentos').value;
        for (let i = 0; i <= parseInt(cantidadDepartamentos); i++) {
            var tablaId = "#record-table"+i;
            configurarTabla(tablaId);
        }
    });
    function configurarTabla(tablaId) {
        $(tablaId).DataTable({
            select: true,
            searching: true,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "select": {
                    "rows": {
                        "_": "Seleccionado %d filas",
                        "0": "Haga clic en una fila para seleccionarla",
                        "1": "Seleccionado 1 fila"
                    }
                }
            }
        });

    }

    window.onload = function () {
        cargarDepartamentos();
        var dateInput = document.getElementById("date");

        // Obtener la fecha actual
        var currentDate = new Date();

        // Obtener el formato de fecha YYYY-MM-DD
        var formattedDate = currentDate.toISOString().split("T")[0];

        // Establecer la fecha actual como valor predeterminado del campo
        dateInput.value = formattedDate;
    };

    function cargarDepartamentos() {
        var select2 = document.getElementById("departamento");

        var url = "/obtener-departamentos/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                select2.options.length = 0;
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        var option = document.createElement("option");
                        option.value = data[key];
                        option.text = data[key];
                        select2.add(option);
                    }
                }
                cargarAgentes();
            }
        };
        request.send();
    }

    function cargarAgentes() {
        var select = document.getElementById("departamento").value;
        var select2 = document.getElementById("agente_select");

        var url = "/obtener-agentes/?departamento=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(select), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                select2.options.length = 0;
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        var option = document.createElement("option");
                        option.value = data[key];
                        option.text = data[key];
                        select2.add(option);
                    }
                }
            }
        };
        request.send();
    }

    $(document).ready(function () {

        $('#record-table').DataTable({
            select: true,
            searching: true,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "select": {
                    "rows": {
                        "_": "Seleccionado %d filas",
                        "0": "Haga clic en una fila para seleccionarla",
                        "1": "Seleccionado 1 fila"
                    }
                }
            }
        });

        $('#record-table-ventana').DataTable({
            select: true,
            searching: true,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "select": {
                    "rows": {
                        "_": "Seleccionado %d filas",
                        "0": "Haga clic en una fila para seleccionarla",
                        "1": "Seleccionado 1 fila"
                    }
                }
            }
        });

        $('#record-table-presente').DataTable({
            select: true,
            searching: true,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "select": {
                    "rows": {
                        "_": "Seleccionado %d filas",
                        "0": "Haga clic en una fila para seleccionarla",
                        "1": "Seleccionado 1 fila"
                    }
                }
            }
        });
    });

    // Obtener la referencia al select del agente
    var agenteSelect = document.getElementById("agente_select");

    // Agregar un evento de escucha para capturar el cambio de opción
    agenteSelect.addEventListener("click", function () {
        var selectedAgenteId = agenteSelect.value; // Obtener el ID del agente seleccionado
        // Obtener todas las filas de la tabla
        var rows = document.querySelectorAll("#record-table tbody tr");

        // Iterar sobre cada fila y ocultar aquellas que no coincidan con el agente seleccionado
        rows.forEach(function (row) {
            var agente = row.querySelector("#cAsesor").textContent;
            if ((selectedAgenteId === "" || agente === selectedAgenteId)) {
                row.style.display = ""; // Mostrar la fila si no se seleccionó ningún agente o si coincide con el agente seleccionado
            } else {
                row.style.display = "none"; // Ocultar la fila si no coincide con el agente seleccionado
            }
        });
    });

    var departamentoSelect = document.getElementById("departamento");

    departamentoSelect.addEventListener("click", function () {
        var selectedAgenteId = departamentoSelect.value; // Obtener el ID del agente seleccionado
        // Obtener todas las filas de la tabla
        var rows = document.querySelectorAll("#record-table tbody tr");

        // Iterar sobre cada fila y ocultar aquellas que no coincidan con el agente seleccionado
        rows.forEach(function (row) {
            var agente = row.querySelector("#departamente_agente").textContent; // Obtener el ID del agente en la fila

            if ((selectedAgenteId === "" || agente === selectedAgenteId)) {
                row.style.display = ""; // Mostrar la fila si no se seleccionó ningún agente o si coincide con el agente seleccionado
            } else {
                row.style.display = "none"; // Ocultar la fila si no coincide con el agente seleccionado
            }
        });
    });

    var tabla_control = document.getElementById("record-table-control");
    function actualizar_tabla() {
        var url = "/actualizar-tabla-departamentos-control/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
    
        request.onload = function () {
            if (request.status === 200) {
                var response = JSON.parse(request.responseText);
                var rowCount = tabla_control.rows.length;
                for (var i = rowCount - 1; i > 0; i--) {
                    tabla_control.deleteRow(i);
                }
                response.tabla.forEach(function (registro) {
                    var fila = tabla_control.insertRow();
                    fila.className = 'colorfilas';

                    var depart = fila.insertCell();
                    depart.className = 'text-center align-middle';
                    var pDepart = document.createElement("h5");
                    pDepart.textContent = registro.nombreDepartamento;
                    pDepart.className = 'mt-2 text-center fw-bold';
                    pDepart.style.color = 'black';
                    depart.appendChild(pDepart);

                    var cant = fila.insertCell();
                    cant.className = 'text-center align-middle';
                    var pCant = document.createElement("h5");
                    pCant.textContent = registro.cantidad;
                    pCant.className = 'mt-2 text-center fw-bold';
                    pCant.style.color = 'black';
                    cant.appendChild(pCant);

                });
            }
        };
    
        request.send();
    }

    setInterval(function() {
        actualizar_tabla();
    }, 1000);

    function cargarDepartamentosLey() {
        var select2 = document.getElementById("departamento_ley");

        var url = "/obtener-departamentos/";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                select2.options.length = 0;
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        var option = document.createElement("option");
                        option.value = key;
                        option.text = data[key];
                        select2.add(option);
                    }
                }
            }
        };
        request.send();
    }

    function crear_ticket_ley(departamento) {
        var departamento_select = document.getElementById('departamento_ley');
        var url = "/crear-ticket-ley/?departamento=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(departamento_select.value), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);3
                $('#modal_ley').modal('hide');
            }
        };
        request.send();
        
    }
</script>
{% endblock %}