{% extends 'base.html' %}
{% block nav_header %}
    {% include 'componentes/navbarheader.html' %}
{% endblock %}
{% block content %}
<div class="p-2 mt-5">
    <div class="row p-2 mt-5">
        <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto ">
            <h5 class="titulo p-2 fw-bold">Cola de Atención</h5>
            <div class="row p-2">
                <div class="col-12 col-sm-10 col-md-12 col-lg-6 mx-auto mb-4 p-2">
                    <div class="mb-3 col">
                        <select id="departamento" data-placeholder="Seleccione Departamento" class="roundedInput form-select"
                            name="departamento" required onchange="cargarAgentes()">
                            <option value="Admisiones">Admisiones</option>
                            <option value="Registro">Registro</option>
                            <option value="Cursos Libres">Cursos Libres</option>
                            <option value="Cajas">Cajas</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-10 col-md-12 col-lg-6 mx-auto mb-4 p-2">
                    <div class="mb-3 col">
                        <select id="agente_select" class="roundedInput form-select" name="agente_select"
                            data-placeholder="Seleccion Agente">
                            <option style="opacity: 0.65" value="" disabled selected hidden>Seleccione Agente</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto">
                    <div class="card-body table-responsive px-md-4 px-2 pt-3">
                        <div class="table-responsive-sm">
                            <table id="record-table" style="height: 200px;" class="table table-hover table-fixed-height">
                                <thead class="table-dark">
                                    <tr>
                                        <th>
                                            <h5 class="mt-2 text-center fw-bold">AGENTE</h5>
                                        </th>
                                        <th>
                                            <h5 class="mt-2 text-center fw-bold">NUMERO DE VENTANILLA</h5>
                                        </th>
                                        <th style="width: 300px">
                                            <h5 class="mt-2 text-center fw-bold">COLA DE ATENCION</h5>
                                        </th>
                                        <th>
                                            <h5 class="mt-2 text-center fw-bold">ESTADO DE ATENCION</h5>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for record in records %}
                                    <tr class="colorfilas">
                                        <td class="text-center align-middle">
                                            <h5 id="id_agente">{{ record.agente_id }}</h5>
                                        </td>
                                        <td class="text-center align-middle">
                                            <h5 class="">{{ record.numeroVentanilla }}</h5>
                                        </td>
                                        <td class="text-center align-middle">
                                            <select style="width: 300px; height: 50px; font-size: 18px; font-weight: bold;"
                                                class="roundedInput form-select form-select-sm" aria-label=".form-select-sm example" id="cola_select"
                                                name="cola_select" onchange="cola()">
                                                <option value="{{ record.colaAtencion }}" selected>{{ record.colaAtencion }}</option>
                                                <option value="Registro">Registro</option>
                                                <option value="Registro/Tesis">Registro/Tesis</option>
                                                <option value="Registro/Convalidacion">Registro/Convalidacion</option>
                                                <option value="Registro/Retiro">Registro/Retiro-Congelar</option>
                                                <option value="Registro/Suficiencia">Registro/Suficiencias</option>
                                                <option value="Registro/Graduaciones">Registro/Graduaciones</option>
                                                <option value="Admisiones">Admisiones</option>
                                                <option value="Cursos Libres">Cursos Libres</option>
                                                <option value="Cajas">Cajas</option>
                                            </select>
                                        </td>
                                        <td class="text-center align-middle">
                                            <h5>{{ record.estadoAtencion }}</h5>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .roundedInput {
        border-radius: 50px;
        text-align: justify;
        font-size: 22px;
        padding: 10px;
        padding-left: 30px;
        font-family: 'Abrade';
        font-weight: 600;
    }
    .titulo{
        text-align: end;
        font-size: 40px;
    }
    table {
        border-collapse: separate;
        width: 100%;
        border-spacing: 0 4px;
    }
    .colorfilas{
        background-color: white;
    }
    td:first-child,
    th:first-child {
        border-radius: 50px 0 0 50px;
    }

    td:last-child,
    th:last-child {
        border-radius: 0 50px 50px 0;
    }
</style>
<script>
    window.onload = function () {
        cargarAgentes();
    };

    function cargarAgentes() {
        var select = document.getElementById("departamento").value;
        var select2 = document.getElementById("agente_select");

        var url = "/obtener-agentes/?departamento=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(select), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                select2.options.length = 0;
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        var option = document.createElement("option");
                        option.value = key;
                        option.text = data[key];
                        select2.add(option);

                        
                    }
                }
            }
        };
        request.send();
    }

    function cola() {
        var cola = document.getElementById("cola_select").value;
        var agente = document.getElementById("id_agente").textContent;
        var url = "/cambiar-cola/?agente=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(agente) + "&cola=" + encodeURIComponent(cola), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
            }
        };
        request.send();
    }

    const recordTable = document.getElementById('record-table');
    
    function fetchRecords() {
        fetch(window.location.href, { headers: { 'X-Requested-With': 'XMLHttpRequest' } })
            .then(response => response.text())
            .then(data => {
                const parser = new DOMParser();
                const newTable = parser.parseFromString(data, 'text/html').getElementById('record-table');
                recordTable.innerHTML = newTable.innerHTML;
            });
    }

    setInterval(fetchRecords, 120000);  // Realiza una solicitud AJAX periódica para mantener la tabla actualizada


    // Obtener la referencia al select del agente
    var agenteSelect = document.getElementById("agente_select");

    // Agregar un evento de escucha para capturar el cambio de opción
    agenteSelect.addEventListener("click", function () {
        var selectedAgenteId = agenteSelect.value; // Obtener el ID del agente seleccionado
        // Obtener todas las filas de la tabla
        var rows = document.querySelectorAll("#record-table tbody tr");

        // Iterar sobre cada fila y ocultar aquellas que no coincidan con el agente seleccionado
        rows.forEach(function (row) {
            var agente = row.querySelector("#id_agente").textContent; // Obtener el ID del agente en la fila

            if ((selectedAgenteId === "" || agente === selectedAgenteId)) {
                row.style.display = ""; // Mostrar la fila si no se seleccionó ningún agente o si coincide con el agente seleccionado
            } else {
                row.style.display = "none"; // Ocultar la fila si no coincide con el agente seleccionado
            }
        });
    });
</script>
{% endblock %}