{% extends 'base.html' %}
{% block nav_header %}
    {% include 'componentes/navbarheader.html' %}
{% endblock %}
{% block content %}
<div class="p-2 mt-5">
    <div class="row p-2">
        <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto card cardCol">
            <h1 class="card-title p-2 text-center fw-bold">Configuracion del Visualizador</h1>
            <div class="row p-2">
                <div class="col-12 col-sm-10 col-md-12 col-lg-6 mx-auto mb-4 p-2">
                    <form class="mt-4" method="POST" action="{% url 'cambiar_link_text' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="basic-url" class="form-label">
                                <h3>Ingrese URL de Youtube</h3>
                            </label>
                            <div class="input-group mb-4">
                                <span class="input-group-text" id="basic-addon3">https://www.youtube.com/</span>
                                <input type="text" value="{{ records.link }}" name="link" class="form-control" id="basic-url"
                                    aria-describedby="basic-addon3">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="basic-url" class="form-label">
                                <h3>Ingrese Texto del Pie de Pagina</h3>
                            </label>
                            <div class="input-group mb-4">
                                <input type="text" value="{{ records.text }}" name="text" class="form-control" id="text"
                                    aria-describedby="basic-addon3" maxlength="100">
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tipo" id="playlist" {% if records.tipo == "playlist" %}checked{% endif %}>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Playlist Youtube
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tipo" id="imgs" {% if records.tipo == "imgs" %}checked{% endif %}>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Imagenes Tipo Carousel
                                </label>
                            </div>
                        </div>
                        <div class="d-grid mb-2 justify-content-center align-items-center">
                            <button class="w-100 btn btn-lg btn-primary btn-login fw-bold"
                                type="submit"> Guardar Configuracion General</button>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-sm-10 col-md-12 col-lg-6 mx-auto mb-4 p-2">
                    <form class="mt-4" method="POST" action="{% url 'cambiar_imagen' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="">
                                <label for="floatingFile" class="mb-2">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                    <h3>Imagen Nueva</h3>
                                </label>
                                <input class="form-control custom-file-input" style="opacity: 0.65" type="file"
                                    id="floatingFile" name="imagen1" accept-language="es" />
                            </div>
                        </div>
                        <div class="form-group mt-4 mb-5">
                            <label for="floatingFile" class="mb-3">
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                <h5>Imagen que desea cambiar:</h5>
                            </label>
                            <select style=" font-size: 18px; font-weight: bold;"
                                class="form-select form-select-sm" aria-label=".form-select-sm example" id="imagen"
                                name="imagen_select">
                                <option value="imagen1">{{ records.imagen1 }}</option>
                                <option value="imagen2">{{ records.imagen2 }}</option>
                                <option value="imagen3">{{ records.imagen3 }}</option>
                                <option value="imagen4">{{ records.imagen4 }}</option>
                            </select>
                        </div>
                        <br>
                        <br>
                        <div class="d-grid mb-2 justify-content-center align-items-center ">
                            <button type="submit" class="w-100 btn btn-lg btn-primary btn-login fw-bold"
                                id="loading-indicator"> Guardar Configuracion de Imagen</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    // Obtener los elementos de radio button
    const radioButtons = document.querySelectorAll('input[name="tipo"]');

    // Agregar el evento change a cada radio button
    radioButtons.forEach(radioButton => {
        radioButton.addEventListener('change', () => {
            if (radioButton.checked) {
                // El radio button está activo
                var url = "/cambiar-visual/?estado=";
                var request = new XMLHttpRequest();
                request.open('GET', url + encodeURIComponent(`${radioButton.id}`), true);
                request.onload = function () {
                    if (request.status === 200) {
                        var data = JSON.parse(request.responseText);
                    }
                };
                request.send();
            }
        });
    });
</script>
{% endblock %}