{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto mt-5 mb-5">
            <div class="card border-0 shadow rounded-3 my-5 mx-auto">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5 fw-bold"> Inicio Sesion Administrativo </h5>
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for field, errors in form.errors.items %}
                        <ul class="mb-0">
                            {% for error in errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <main class="form-signin">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <div class="input-group mb-3 input-group-lg">
                                    <input type="text" class="form-control" id="floatingInput"
                                        placeholder="Identificación" name="username" required>
                                </div>

                            </div>
                            <div class="form-floating mb-3 ">
                                <div class="input-group mb-3 input-group-lg">
                                    <input type="password" class="form-control " id="floatingPassword"
                                        placeholder="Contraseña" name="password" required>
                                </div>
                            </div>
                            <br>
                            <div class="d-grid mb-2">
                                <button type="submit" class="w-100 btn btn-lg btn-primary btn-login fw-bold"
                                    id="loading-indicator"> Ingresar</button>

                                <div id="loading-indicator" class="hidden">
                                    <div class="spinner"></div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="left-link">
                                    <a href="{% url 'home' %}">Atras</a>
                                </div>
                                <div class="right-link">
                                    <a href="{% url 'registro_admin' %}">Registrarse</a>
                                </div>
                            </div>
                        </form>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}