{% extends 'base.html' %}
{% block nav_header %}
    {% include 'componentes/navbarheader.html' %}
{% endblock %}
{% block content %}
<div class="p-2 mt-4">
    <div class="row p-2">
        <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto ">
            <h5 class=" p-2 titulo">Tickets</h5>
            <div class="row p-2">
                <div class="col-12 mb-4 p-2">
                    <div class="mb-3 date col-6">
                        <h3>Fecha:</h3>
                        <input type="date" class="form-control roundedInput" id="date"/>
                    </div>
                </div>
                <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto mb-4 p-2">
                    <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto">
                        <div class=" table-responsive px-md-4 px-2 pt-3">
                            <div class="row">
                                <div class="col-12 col-sm-10 col-md-12 col-lg-6">
                                    <div class="table-responsive-sm">
                                        <h4 class="text-center">Admisiones Clientes</h4>
                                        <table id="record-table3" style="height: 200px;" class="table  table-hover table-fixed-height">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">CODIGO</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">DPTO</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">FECHA</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">ATEND</h5>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for admi in admin %}
                                                <tr class="colorfilas">
                                                    <td class="text-center align-middle">
                                                        <h5 id="id_agente">{{ admi.codigo }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 class="">{{ admi.departamento }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 class="">{{ admi.fecha }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 class="">{{ admi.atendido }}</h5>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-10 col-md-12 col-lg-6">
                                    <div class="table-responsive-sm">
                                        <h4 class="text-center">Registro Clientes</h4>
                                        <table id="record-table4" style="height: 200px;" class="table  table-hover table-fixed-height">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">CODIGO</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">DPTO</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">FECHA</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">ATEND</h5>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for regi in registro %}
                                                <tr class="colorfilas">
                                                    <td class="text-center align-middle">
                                                        <h5 id="id_agente">{{ regi.codigo }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 class="">{{ regi.departamento }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 class="">{{ regi.fecha }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 class="">{{ regi.atendido }}</h5>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-10 col-md-12 col-lg-6">
                                    <div class="table-responsive-sm">
                                        <h4 class="text-center">Cajas Clientes</h4>
                                        <table id="record-table5" style="height: 200px;" class="table  table-hover table-fixed-height">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">CODIGO</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">DPTO</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">FECHA</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">ATEND</h5>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for caja in cajas %}
                                                <tr class="colorfilas">
                                                    <td class="text-center align-middle">
                                                        <h5 id="id_agente">{{ caja.codigo }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 class="">{{ caja.departamento }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 class="">{{ caja.fecha }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 class="">{{ caja.atendido }}</h5>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-10 col-md-12 col-lg-6">
                                    <div class="table-responsive-sm">
                                        <h4 class="text-center">C.L. Clientes</h4>
                                        <table id="record-table6" style="height: 200px;" class="table  table-hover table-fixed-height">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">CODIGO</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">DPTO</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">FECHA</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">ATEND</h5>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for curso in cursos %}
                                                <tr class="colorfilas">
                                                    <td class="text-center align-middle">
                                                        <h5 id="id_agente">{{ curso.codigo }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 class="">{{ curso.departamento }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 class="">{{ curso.fecha }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 class="">{{ curso.atendido }}</h5>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-10 col-md-12 col-lg-12">
                                    <div class="table-responsive-sm">
                                        <h4 class="text-center">Clientes Solicitado a Ventanilla</h4>
                                        <button id="export-button" type="button" class="btn btn-outline-dark mb-2" onclick="exportToExcel()">Exportar a Excel</button>
                                        <table id="record-table" style="height: 200px;" class="table  table-hover table-fixed-height">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">CODIGO</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">NUMERO DE VENTANILLA</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">DEPARTAMENTO</h5>
                                                    </th>
                                                    <th>
                                                        <h5 class="mt-2 text-center fw-bold">FECHA</h5>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for record in records %}
                                                <tr class="colorfilas">
                                                    <td class="text-center align-middle">
                                                        <h5 id="id_agente">{{ record.codigoCaso }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5 class="">{{ record.numeroVentanilla }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5>{{ record.departamento }}</h5>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <h5>{{ record.fecha }}</h5>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .roundedInput {
        border-radius: 50px;
        text-align: justify;
        font-size: 22px;
        padding: 10px;
        padding-left: 30px;
        font-family: 'Abrade';
        font-weight: 600;
    }
    .titulo{
        text-align: end;
        font-size: 40px;
        font-weight: 900;
    }
    table {
        border-collapse: separate;
        width: 100%;
        border-spacing: 0 4px;
    }
    .colorfilas{
        background-color: white;
    }
    td:first-child,
    th:first-child {
        border-radius: 50px 0 0 50px;
    }

    td:last-child,
    th:last-child {
        border-radius: 0 50px 50px 0;
    }
</style>
<script>
    window.onload = function () {
        var dateInput = document.getElementById("date");

        // Obtener la fecha actual
        var currentDate = new Date();

        // Obtener el formato de fecha YYYY-MM-DD
        var formattedDate = currentDate.toISOString().split("T")[0];

        // Establecer la fecha actual como valor predeterminado del campo
        dateInput.value = formattedDate;
    };

    function cargarAgentes() {
        var select = document.getElementById("departamento").value;
        var select2 = document.getElementById("agente_select");

        var url = "/obtener-agentes/?departamento=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(select), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                select2.options.length = 0;
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        var option = document.createElement("option");
                        option.value = key;
                        option.text = data[key];
                        select2.add(option);
                    }
                }
            }
        };
        request.send();
    }


    const recordTable = document.getElementById('record-table');
    const recordTable3 = document.getElementById('record-table3');
    const recordTable4 = document.getElementById('record-table4');
    const recordTable5 = document.getElementById('record-table5');
    const recordTable6 = document.getElementById('record-table6');

    function fetchRecords() {
        fetch(window.location.href, { headers: { 'X-Requested-With': 'XMLHttpRequest' } })
            .then(response => response.text())
            .then(data => {
                const parser = new DOMParser();
                const newTable = parser.parseFromString(data, 'text/html').getElementById('record-table');
                recordTable.innerHTML = newTable.innerHTML;
            });
    }
    function fetchRecords3() {
        fetch(window.location.href, { headers: { 'X-Requested-With': 'XMLHttpRequest' } })
            .then(response => response.text())
            .then(data => {
                const parser = new DOMParser();
                const newTable3 = parser.parseFromString(data, 'text/html').getElementById('record-table3');
                recordTable3.innerHTML = newTable3.innerHTML;
            });
    }

    function fetchRecords4() {
        fetch(window.location.href, { headers: { 'X-Requested-With': 'XMLHttpRequest' } })
            .then(response => response.text())
            .then(data => {
                const parser = new DOMParser();
                const newTable4 = parser.parseFromString(data, 'text/html').getElementById('record-table4');
                recordTable4.innerHTML = newTable4.innerHTML;
            });
    }

    function fetchRecords5() {
        fetch(window.location.href, { headers: { 'X-Requested-With': 'XMLHttpRequest' } })
            .then(response => response.text())
            .then(data => {
                const parser = new DOMParser();
                const newTable5 = parser.parseFromString(data, 'text/html').getElementById('record-table5');
                recordTable5.innerHTML = newTable5.innerHTML;
            });
    }

    function fetchRecords6() {
        fetch(window.location.href, { headers: { 'X-Requested-With': 'XMLHttpRequest' } })
            .then(response => response.text())
            .then(data => {
                const parser = new DOMParser();
                const newTable6 = parser.parseFromString(data, 'text/html').getElementById('record-table6');
                recordTable6.innerHTML = newTable6.innerHTML;
            });
    }

    setInterval(fetchRecords, 15000);
    setInterval(fetchRecords3, 15000);
    setInterval(fetchRecords4, 15000);
    setInterval(fetchRecords5, 15000);
    setInterval(fetchRecords6, 15000);  // Realiza una solicitud AJAX periódica para mantener la tabla actualizada

    // Obtener la referencia al select del agente
    var fechaInput = document.getElementById("fecha");

    // Agregar un evento de escucha para capturar el cambio de opción
    fechaInput.addEventListener("click", function () {
        // Obtener todas las filas de la tabla
        var rows3 = document.querySelectorAll("#record-table3 tbody tr");
        var rows4 = document.querySelectorAll("#record-table4 tbody tr");
        var rows5 = document.querySelectorAll("#record-table5 tbody tr");
        var rows6 = document.querySelectorAll("#record-table6 tbody tr");
        var rows = document.querySelectorAll("#record-table tbody tr");

        // Iterar sobre cada fila y ocultar aquellas que no coincidan con el agente seleccionado
        rows.forEach(function (row) {// Obtener el ID del agente en la fila
            var fecha = row.querySelector("#fecha").textContent;
            var dateInput = document.getElementById("date");

            // Agregar un evento de escucha para capturar el cambio de fecha
            var selectedDate = dateInput.value; // Obtener la fecha seleccionada en formato "yyyy-mm-dd"

            // Formatear la fecha como "aaaa-mm-dd"
            var formattedDate = selectedDate.split("-").join("-");
            console.log(formattedDate);
            if ((formattedDate === "" || fecha === formattedDate)) {
                row.style.display = ""; // Mostrar la fila si no se seleccionó ningún agente o si coincide con el agente seleccionado
            } else {
                row.style.display = "none"; // Ocultar la fila si no coincide con el agente seleccionado
            }
        });

        rows3.forEach(function (rows3) {// Obtener el ID del agente en la fila
            var fecha = rows3.querySelector("#fecha").textContent;
            var dateInput = document.getElementById("date");

            // Agregar un evento de escucha para capturar el cambio de fecha
            var selectedDate = dateInput.value; // Obtener la fecha seleccionada en formato "yyyy-mm-dd"

            // Formatear la fecha como "aaaa-mm-dd"
            var formattedDate = selectedDate.split("-").join("-");
            console.log(formattedDate);
            if ((formattedDate === "" || fecha === formattedDate)) {
                rows3.style.display = ""; // Mostrar la fila si no se seleccionó ningún agente o si coincide con el agente seleccionado
            } else {
                rows3.style.display = "none"; // Ocultar la fila si no coincide con el agente seleccionado
            }
        });

        rows4.forEach(function (rows4) {// Obtener el ID del agente en la fila
            var fecha = rows4.querySelector("#fecha").textContent;
            var dateInput = document.getElementById("date");

            // Agregar un evento de escucha para capturar el cambio de fecha
            var selectedDate = dateInput.value; // Obtener la fecha seleccionada en formato "yyyy-mm-dd"

            // Formatear la fecha como "aaaa-mm-dd"
            var formattedDate = selectedDate.split("-").join("-");
            console.log(formattedDate);
            if ((formattedDate === "" || fecha === formattedDate)) {
                rows4.style.display = ""; // Mostrar la fila si no se seleccionó ningún agente o si coincide con el agente seleccionado
            } else {
                rows4.style.display = "none"; // Ocultar la fila si no coincide con el agente seleccionado
            }
        });

        rows5.forEach(function (rows5) {// Obtener el ID del agente en la fila
            var fecha = rows5.querySelector("#fecha").textContent;
            var dateInput = document.getElementById("date");

            // Agregar un evento de escucha para capturar el cambio de fecha
            var selectedDate = dateInput.value; // Obtener la fecha seleccionada en formato "yyyy-mm-dd"

            // Formatear la fecha como "aaaa-mm-dd"
            var formattedDate = selectedDate.split("-").join("-");
            console.log(formattedDate);
            if ((formattedDate === "" || fecha === formattedDate)) {
                rows5.style.display = ""; // Mostrar la fila si no se seleccionó ningún agente o si coincide con el agente seleccionado
            } else {
                rows5.style.display = "none"; // Ocultar la fila si no coincide con el agente seleccionado
            }
        });
        
        rows6.forEach(function (rows6) {// Obtener el ID del agente en la fila
            var fecha = rows6.querySelector("#fecha").textContent;
            var dateInput = document.getElementById("date");

            // Agregar un evento de escucha para capturar el cambio de fecha
            var selectedDate = dateInput.value; // Obtener la fecha seleccionada en formato "yyyy-mm-dd"

            // Formatear la fecha como "aaaa-mm-dd"
            var formattedDate = selectedDate.split("-").join("-");
            console.log(formattedDate);
            if ((formattedDate === "" || fecha === formattedDate)) {
                rows6.style.display = ""; // Mostrar la fila si no se seleccionó ningún agente o si coincide con el agente seleccionado
            } else {
                rows6.style.display = "none"; // Ocultar la fila si no coincide con el agente seleccionado
            }
        });
    });

    function exportToExcel() {
        // Obtener la tabla por su ID
        const table = document.getElementById('record-table');
      
        // Crear un objeto de libro de Excel
        const workbook = new ExcelJS.Workbook();
        const worksheet = workbook.addWorksheet('Datos');
      
        // Recorrer las filas y celdas de la tabla
        const rows = table.querySelectorAll('tr');
        rows.forEach((row, rowIndex) => {
          const cells = row.querySelectorAll('td, th');
          cells.forEach((cell, cellIndex) => {
            // Obtener el contenido de la celda
            const cellData = cell.innerText;
            // Agregar el contenido a la hoja de Excel
            worksheet.getCell(rowIndex + 1, cellIndex + 1).value = cellData;
          });
        });
      
        // Crear un archivo Excel
        workbook.xlsx.writeBuffer().then((buffer) => {
          // Convertir el buffer a un blob
          const blob = new Blob([buffer], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
      
          // Crear un objeto URL para el blob
          const url = URL.createObjectURL(blob);
      
          // Crear un enlace de descarga
          const link = document.createElement('a');
          link.href = url;
          link.download = 'tabla_solicitudes.xlsx';
      
          // Simular un clic en el enlace de descarga
          link.click();
      
          // Liberar el objeto URL
          URL.revokeObjectURL(url);
        });
    }
</script>
{% endblock %}